[2019-04-16 13:37] LkKov commented on #1170
This would help a lot in my case as well!

[2019-04-16 13:38] StephanSchaller commented on #1187
A bit of redundancy can't hurt ;-)

[2019-04-16 13:39] DeniTue commented on #1170
Good idea!
I think this would be helpful.

[2019-04-16 16:28] harishkaushikbugworks opened #1188 "PK SIM crashed"
<img width="960" alt="issue" src="https://user-images.githubusercontent.com/49284633/56227216-91da3800-6092-11e9-9f00-8b8d3b7f44d5.png">
Hello all of sudden my PK sim crashed and iam unabel to run,save or open any project
i have attched screen shot

Application:
PK-Sim® 7.4.0.127

The type initializer for 'NHibernate.Cfg.Configuration' threw an exception.
------------------------------------------

[2019-04-16 17:25] AndreDlm commented on #1187
@StephanSchaller if the particle size distribution (PSD) has been measured, you could take the cumulative probability values of your particle size groups and easily fit a given distribution to it e.g. in R. Particles generated by grinding and milling can be typically well described by a Weibull function, so you may consider using this function.

There's a workaround to simulate a user-defined PSD

[2019-04-16 19:44] msevestre commented on #1188
@harishkaushikbugworks What has changed since the last time you could save the application?
Assuming here, that this not linked to PK-Sim if it worked before but more to something that has changed on your configuration (OS, Update etc..)

You could try to repair the installation, restart your computer, see what patch were applied etc..

[2019-04-16 19:47] msevestre commented on #1188
Actually this is a duplicate of
https://github.com/Open-Systems-Pharmacology/PK-Sim/issues/1069#issuecomment-454553678

Please follow the instructions provided there

[2019-04-16 19:48] msevestre commented on #1188
duplicates #1069 with workaround provided

[2019-04-16 19:48] #1188 closed

[2019-04-16 20:30] StephanSchaller commented on #1187
Thanks @AndreDlm for these workarounds. Yes, we started of with Weibull and later fitted the distributions.
Thanks for the JSON example. Will have to look into this type of interface at some point, I guess.

[2019-04-17 05:00] harishkaushikbugworks commented on #1188
Hello Msevestre
I did do what u said, i uninstalled entire setup and reinstalled the same, but nothing worked and same error pops up, when i tried to open the old file

Regards
Harish

[2019-04-17 06:52] harishkaushikbugworks commented on #1069
finally i used the portable PKSIM and MOBI it worked

[2019-04-17 08:18] teutonicod commented on #968
Hi @Yuri05,
I had exactly the same issue with the zero-order dissolution. If I understood correctly, at a certain point zero and first order will be implemented in PK-Sim as possible choice for a standard "Oral" administration. If this is the case, then the observer for the fraction absorbed should work correctly, right?

Thanks,

Donato

[2019-04-17 11:39] msevestre commented on #1188
The issue resolution that I linked didn't suggest to uninstall everything. Instead it suggested to copy a specific file into the installation folder.
If you follow this suggestion, the software will work again.

[2019-04-17 11:53] msevestre commented on #968
I am not sure that this is what I understood.
Maybe we could try to ensure that the OralDrugMass calculation takes those special user def into account?

[2019-04-17 12:12] harishkaushikbugworks commented on #1188
Hello Sevestre,
I did try to copy dll files even then it didn’t work, so on further exploring the forum found the portable PKSIM and Mobi
So installed those, now iam using those files

Is there any other way around let me know

Thanks & Regards

Harish Kaushik Kotakonda
Principal Scientist-DMPK

[logo]
Mob: +91 9550288659
www.bugworksresearch.com<http://www.bugworksresearch.com/>

From: Michael Se

[2019-04-17 12:19] msevestre commented on #1188
@harishkaushikbugworks Copying the log4net.dll in the installation folder of PK-Sim should work (this is the only difference between the portable install and the official install. We added this file to the package)

Please confirm that this is what you did? Also please confirm where you copied the file (it should be in the PKSim installation folder)

[2019-04-17 12:26] harishkaushikbugworks commented on #1188
Yes I did the same what you suggested below
I copied those files in the PK sim installation folder

Thanks & Regards

Harish Kaushik Kotakonda
Principal Scientist-DMPK

[logo]
Mob: +91 9550288659
www.bugworksresearch.com<http://www.bugworksresearch.com/>

From: Michael Sevestre <notifications@github.com>
Sent: 17 April 2019 17:50
To: Open-Systems-Pharmacology/PK-Sim <PK-Sim@noreply.github.com>
Cc:

[2019-04-17 12:27] msevestre commented on #1188
@harishkaushikbugworks Would you mean pasting here the path of the installation folder? (path on your machine)

[2019-04-17 12:28] msevestre opened #1189 "Until we update NHibernate, we should add log4net.dll in distribution folder"
or we update NHibernate. I can try and see if our tests are still passing ??

[2019-04-17 12:28] msevestre commented on #1189
@Yuri05 see #1188

[2019-04-17 12:29] harishkaushikbugworks commented on #1188
I have deleted the setup completely now and I have installed both portable PK SIM and Mobi separately, which now are working well

Thanks & Regards

Harish Kaushik Kotakonda
Principal Scientist-DMPK

[logo]
Mob: +91 9550288659
www.bugworksresearch.com<http://www.bugworksresearch.com/>

From: Michael Sevestre <notifications@github.com>
Sent: 17 April 2019 17:58
To: Open-Systems-Pharmacology/PK-Sim

[2019-04-17 12:34] teutonicod commented on #968
If it is possible, sure. I was just thinking to the case when the user is forced to create the user defined administration protocol just to have a standard oral administration with a zero or first order release. So from this point of view it would be better to directly allow the use of these formulations also for the standard oral administration (I think that this topic was already discussed in th

[2019-04-17 12:35] msevestre commented on #968
Ok. This is a different suggestion. Allowing first order and zero order formulation. This would still be an oral application.

Ok then we are clear

[2019-04-17 16:58] #1171 closed

[2019-04-17 19:00] msevestre commented on #1101
@Yuri05 What needs to be done here?

[2019-04-17 19:00] msevestre commented on #1100
@Yuri05 Will it be part of  7.5?

[2019-04-17 19:02] msevestre commented on #1088
TODOs were removed. No feedback in over 2 months. I am assuming this is all good

[2019-04-17 19:02] #1088 closed

[2019-04-17 19:25] Yuri05 commented on #1100
yes

[2019-04-17 20:42] msevestre commented on #971
@Yuri05 Can you reproduce the issue? I tried and I can't

[2019-04-17 20:45] msevestre commented on #1133
@Yuri05 Should we close?

[2019-04-17 20:45] msevestre commented on #1132
@Yuri05 Should we close?

[2019-04-17 20:45] msevestre commented on #1129
@Yuri05 Should we close?

[2019-04-17 20:46] msevestre commented on #1127
@Yuri05 Should we close?

[2019-04-17 22:12] #1073 closed

[2019-04-17 22:13] #1148 closed

[2019-04-17 22:26] Yuri05 commented on #1133
yes (for the moment), can reopen in the future if required

[2019-04-17 22:26] #1132 closed

[2019-04-17 22:26] #1129 closed

[2019-04-17 22:26] #1127 closed

[2019-04-17 23:11] msevestre commented on #1170
Sneak Preview:
![image](https://user-images.githubusercontent.com/1041237/56326543-69127b00-6144-11e9-91b6-a6b9841c59e8.png)

I just starting tonight. We'll see if I can manage to make it work

[2019-04-18 15:53] #1189 closed

[2019-04-18 18:20] msevestre commented on #1170
Here we go.
![image](https://user-images.githubusercontent.com/1041237/56382244-fa392e80-61e4-11e9-904f-66db3712a5f2.png)

This will be part of next release if no issue is found in more advanced scenarios

[2019-04-18 18:55] #1170 closed

[2019-04-18 19:54] msevestre commented on #1133
All right reopening then

[2019-04-18 21:01] #1133 closed

[2019-04-19 11:59] StephanSchaller opened #1195 "Feazure: Administration Protocol Preview Plot: add dimension "Rate""
See Figure below: the 9th Administration is an infusion for 4.35 hours. It would be nice to have this application actually also be displayed as a "Bar" (or line/staircase type plot) with width 4.35 hours.
![image](https://user-images.githubusercontent.com/25477643/56423141-025ba180-62ab-11e9-95f8-e1dd20457924.png)

A suggestion would be to display boluses as (large) dots and infusion as bars with

[2019-04-19 13:07] msevestre commented on #1195
Did you know that you do not need to create ONE schema per entry? Within one schema, you can create multiple schema item?

This creates exactly the same output anyways so all good.

[2019-04-19 13:09] msevestre commented on #1195
What about Oral, User Defined app ? WOuld you also have them as dots? It might become hard to see when what is applied?

[2019-04-19 14:41] StephanSchaller commented on #1195
I didn't create this ;-)

[2019-04-19 14:42] StephanSchaller commented on #1195
Hmm, the dot was just an idea. Will think about it.

[2019-04-19 14:49] msevestre commented on #1195
@StephanSchaller I am sure there is a good way to display the info somehow. But so far, using bar was the better view

Maybe we could add another series that would be the duration. Not sure how this would look when the number of application is large

[2019-04-19 15:08] msevestre commented on #1065
done

[2019-04-19 15:08] #1065 closed

[2019-04-19 15:09] msevestre commented on #940
done

[2019-04-19 15:09] #940 closed

[2019-04-23 12:18] #1102 closed

[2019-04-23 17:20] Yuri05 commented on #1101
Parameter `Enable supersaturation` must be added into Compound-BBs.
Value: NO (zero)
IsInput: true(!)

parameter_name | can_be_varied | read_only | visible | can_be_varied_in_population | group_name | sequence | build_mode | building_block_type | is_input
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
Enable supersaturation | 1 | 0 | 1 | 0 | COMPOUND_PARTICLE_DISSOLUTION | 100 | PROPERTY | COMPOU

[2019-04-23 17:23] Yuri05 opened #1197 "Increase info area"
With the new supersaturation warning the area in Compound/Advanced/Particles is too small now
![grafik](https://user-images.githubusercontent.com/25061876/56602178-2eee2100-65fd-11e9-9da4-ce724519c03a.png)

[2019-04-23 19:25] msevestre opened #1198 "Fraction absorbed not calculated properly"
This is not #968

[2019-04-23 19:28] msevestre opened #1199 "Suggestion: Rename pksim5 extension to pksim (same with mobi5 to mobi)"
It's safe to assume that our very, very old 4.2 files won't be loaded on a new machine anymore
I'd suggest to rename the extension (of course still support pksim5) but remove the version number in the name, which was a bad idea to begin with

[2019-04-23 19:56] msevestre opened #1200 "Table markdown export. | is missing at the end"

[2019-04-23 19:57] msevestre opened #1201 "Remove some of the deafult log for QualificationRunner"
Otherwise it's hard to see what's going on!

[2019-04-23 19:58] msevestre commented on #1201
![image](https://user-images.githubusercontent.com/1041237/56611776-ac576880-65e0-11e9-843e-87341e42e578.png)

Ok when debugging. Info should be more succint

[2019-04-23 20:23] #1103 closed

[2019-04-23 20:23] #1100 closed

[2019-04-23 21:36] msevestre opened #1202 "Supersaturation: Prevent usage if NOT Particale Dissolution"
![image](https://user-images.githubusercontent.com/1041237/56617450-eaa75480-65ed-11e9-9b0c-d3485cabc594.png)
This blurb is very, very unclear in my opinion.

I would remove this text altogether (e.g. leave it as it was before)
When creating a simulation, we had an extra step that prevents exactly that from happening (we have a validator that we run to test stuff that does not make sense).
We can

[2019-04-23 22:36] Yuri05 commented on #1198
That's why it's fraction absorbed **_into mucosa_** (and not into the portal vein).
s. also #517

[2019-04-23 22:41] msevestre commented on #1198
No idea what you are talking about
![image](https://user-images.githubusercontent.com/1041237/56620551-52ae6880-65f7-11e9-8dbc-72c3fb728eba.png)

It says Fraction absorbed. User is expecting something else. For me it's a clear bug

[2019-04-23 22:42] msevestre commented on #1198
Could not we solve this with some clever use of SumFormula BTW?

[2019-04-23 22:50] Yuri05 commented on #1198
Yep, this one is fraction absorbed into mucosa

[2019-04-23 23:02] msevestre commented on #1198
Do you agree that it's not written anywhere? Either we calculate fraction absorbed (everyone assumes portal veine) or we rename this parameter

[2019-04-24 00:16] msevestre commented on #1198
`Fraction absorbed` is a pharmacokinetic parameter that has a very specific meaning.

[2019-04-24 00:26] msevestre commented on #517
@TWendl I don't think that what you are describing is `fraction escaping gut wall metabolism`
What you are describing is `Fraction absorved`

`fraction escaping gut wall metabolism` is the amount that enters portal vein divided by the amount that enters mucosa.

fa = fg when all the dose enters mucosa

fg <=fa when there is solubility and or permeability limitation to uptake to mucosa

/cc @Yuri05

[2019-04-24 06:52] StephanSchaller commented on #517
![image](https://user-images.githubusercontent.com/25477643/56638375-46192700-666e-11e9-8f8f-58f7ca55ca0e.png)

[2019-04-24 06:55] sfrechen commented on #1198
No, fraction absorbed is really the fraction of the dose that is absorbed into the gut wall mucoca (enterocytes), usually abbreviated with Fa. The fraction escaping gut wall metabolism and reaching the portal vein is Fg. Finally, we have the fraction escaping first pass liver metabolism, which is called Fh. The product Fa*Fg*Fh is the absolute bioavailability F after oral dosing.

Midazolam, for e

[2019-04-24 06:58] StephanSchaller commented on #1198
![image](https://user-images.githubusercontent.com/25477643/56638724-30583180-666f-11e9-99aa-4a32c4844f59.png)

[2019-04-24 07:06] StephanSchaller commented on #1198
![image](https://user-images.githubusercontent.com/25477643/56639027-f5a2c900-666f-11e9-9f6d-219fe6b4640e.png)

Calculated, it is always "amount of outflow divided by amount of inflow"

- fa would be the sum of the integral over time of all absorption rates from gut lumen to mucosa divided by dose
- fG would be the sum of the integral over time of all absorption rates from mucosa to portal vein di

[2019-04-24 07:14] sfrechen commented on #1198
Having Fg calculated directly by PK-Sim would be a nice feature.
(EHC may always give abstruse results as for Fa as well.)

[2019-04-24 07:57] PavelBal commented on #1199
Agree!

[2019-04-24 07:59] PavelBal commented on #1198
That image of @StephanSchaller should be in the wiki, if it is still not.

[2019-04-24 08:34] Yuri05 commented on #1198
Ok, I changed the issue title into _Fraction absorbed should be renamed to "Fabs into mucosa"_
What is calculated now is calculated correctly - it might be just rename for the sake of clarity.

[2019-04-24 08:38] #1197 closed

[2019-04-24 08:39] Rubilu opened #1205 "Population approach changes observed data of parent drug"
Hello everyone,

I've updated to 7.4 and in my population approach, the software changes the observed data - but only when I choose the parent drug. The metabolite data is correct.
For example: The cmax of the observed data is 65,26 µg/L with a standard deviation of 4,46. The simulation changes it into a cmax of 61,96 µg/L with a SD of 4,2. The metabolite cmax is identical in the simulation. When

[2019-04-24 09:09] Yuri05 commented on #1202
Might be a better approach compared to the warning in text.
Thus the suggestion would be:
* when creating a simulation, check for every compound involved whether `Enable supersaturation` is set to true
* if YES: check if compound is administered with an administration protocol
* if YES: check if administration protocol for this compound contains one of the following
  * at least one **oral** admin

[2019-04-24 11:44] msevestre commented on #1198
Lol. "We calculate something the right way, we just call something different that is calculated another way"

[2019-04-24 11:48] msevestre commented on #1198
The image above is great indeed and should be in the documentation!
Do you guys want to make a PR?

[2019-04-24 11:52] msevestre commented on #1205
Issue moved to PKSim
@rubilu: the title of the issue says 'oops something went wrong'
What does it have to do with this issue? Did you receive an error message?

Please attach a project and steps to reproduce the issue as I am not sure I understand what's the problem is.

[2019-04-24 11:57] msevestre commented on #1205
Are you also suggesting that this bug is NEW? You are mentioning something about updating to 7.4

And are you in PKSim or MoBi?

Observed data should use the molweight of the associated drug.

IN which unit did you import them?

[2019-04-24 12:58] msevestre commented on #1205
Thanks @Rubilu Can you attach the project to the issue? We could give it a quick look and let you know what's goin gon

[2019-04-24 15:08] Rubilu commented on #1205
Here is an example project.
Thank you for your help.

[Test.pksim5.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/3112905/Test.pksim5.zip)

[2019-04-24 16:34] StephanSchaller commented on #1198
What is that? :-)

[2019-04-24 16:44] msevestre commented on #1198
Pull Request: https://docs.open-systems-pharmacology.org/how-to-contribute

Pronounced "Pee Arr".  :)

[2019-04-24 17:55] StephanSchaller commented on #1198
☠️ Arrr!

[2019-04-24 18:09] #1201 closed

[2019-04-24 18:11] msevestre commented on #1205
your zip file only contains a shortcut to your project file. Can you upload the actual project file?

[2019-04-24 19:01] msevestre commented on #1198
@sfrechen @Yuri05

There is a proposal for the calculation in #517
however I am wondering why we would not be able to calculate it directly using observer. Am I missing something?

[2019-04-24 20:28] StephanSchaller commented on #1198
I agree, as mentioned above a parameter/observer with sum formula should do the trick.

If this feature should also be available for the protein model, we just have to consider lymph flow as an escape route ;-)

[2019-04-24 20:44] Yuri05 commented on #1198
@msevestre @StephanSchaller
Without doing something like proposed in #517 it's not possible to determine which proportion of the flow `mucosa=>portal vein` comes from absorption and which from the system.
![grafik](https://user-images.githubusercontent.com/25061876/56692183-e78d9080-66e1-11e9-96de-ac8c5e184a74.png)

[2019-04-24 21:35] StephanSchaller commented on #1198
Why not?
You can access each single rate of flow/diffusion/transport. Just add and substract them accordingly…?

Sum up all rates of para-cellular absorption = flow_absorbed_para
Sum up all rates of trans-cellular absorption = flow_absorbed_trans
Sum up all rates of mucosal cell to interstitial diffusion/transport = f_g_trans

f_g = IntegralOverTime((flow_absorbed_para + f_g_trans)/(flow_absorbed_

[2019-04-24 22:02] Yuri05 commented on #1198
Transporters are not the problem. The problem is the systemis flow on the right side of the picture above, which you cannot separate from the absorption.

easy (in fact, already done)

easy (in fact, already done)

Will also include the "systemic" part and the result will be wrong.

In order to calculate Fracton absorbed into portal vein we must
a) Set all the systemic flows to mucosa = 0
b) integ

[2019-04-24 22:36] msevestre commented on #1198
Stupid question but: Where is this picture coming from? What is "Submucosa + Muscularis + Serosa" ?

Isn't it possible to substract the systemic part ? (e.g. rate flowing into mucosa that  are not part of absorption?)

[2019-04-24 22:47] StephanSchaller commented on #1198
Well, that's a matter of perspective, I guess ;-)
Technically, the systemic flow also distorts trans- & para-cellular absorption as both are bi-directional.

Of course you will have a "systemic part" in your evaluation of F_oral = fa*Fg*Fh … you always do. That's why F_oral can be > 1.

And (technically) that's okay, because if systemic drug reaches cell mucosa to be metabolized (thereby reducing

[2019-04-24 22:52] StephanSchaller commented on #1198
Technically, #517 (only) calculates the "First-pass Fg"

[2019-04-24 23:12] Yuri05 commented on #1198
https://www.fda.gov/downloads/Drugs/NewsEvents/UCM503767.pdf

It's possible, but only in case there is no metabolism in mucosa and sink conditions.

correct (in case there are NO absorption sink conditions and/or active transports mucosa=>lumen)

Which does not make any sense for me. But as you said: that's a matter of perspective :eyes:

And you have to simulate to the "end" and calculate the Int

[2019-04-24 23:17] msevestre commented on #1198
Why? Metabolism rates are accounted for separately. They are not part of the absorption.

Do we have that in our models?

Sink Condition maybe

[2019-04-24 23:25] Yuri05 commented on #1198
?? we are talking about fraction absorbed into portal vein, right? Thus metabolism in mucosa must be also taken into account.

Yes (as "all-in-one", not subdivided into those parts)

[2019-04-24 23:32] msevestre commented on #1198
I am talking about fg (the fraction escaping metabolism).
I would NOT call that fraction absorbed!

Let's talk about it. I just don't understand what's the issue with metabolism processses.

If there is a way to calculate it on the FLY instead of doing another simulation, we should do it

Also since F = fa*FG * Fh, maybe only calculating the first pass Fg is actually incorrect? (because F>1)

[2019-04-25 07:44] UlrichSi commented on #1199
I would suggest that project files with the current extension will be still loaded without having to rename them.

[2019-04-25 08:46] StephanSchaller commented on #517
I agree. The fraction "collected in PV" would need to be divided by fa.

[2019-04-25 08:51] StephanSchaller commented on #1198
Well...let's look at F_oral > 1. That happens once you have EHC and the drug get's re-absorbed after that.
And this is what users expect.
Meaning, you actually should NOT "remove" the "systemic part" in your evaluation of F_oral.

But, if you just want the non-systemic-influenced "first-pass" F_oral. You will need to do it with the sink-condition simulation.
And as you are doing this already anywa

[2019-04-25 08:55] #1202 closed

[2019-04-25 08:57] sfrechen commented on #1198
Regarding F_oral: we need to stick to the definition! That is F_oral = (AUCinf_po/Dose_oral)/(AUC_inf_iv/Dose_iv).
Thus, we need to account for EHC and so on. EHC also happens after iv administration.

[2019-04-25 09:43] StephanSchaller commented on #1198
True. This also cancels "systemic influence" out of the equation (except maybe if the PO and IV reference doses differ by much and you have nonlinearities).
So if we stick to the definition (and I guess we should do that) we will either have to simulate the reference scenarios or the "truncated" model with sink conditions.

[2019-04-25 11:13] Rubilu commented on #1205
I tried to upload the actual project file but the forum does not support pksim5 files.

[2019-04-25 11:41] StephanSchaller commented on #1205
You have to zip it first. Forum supports Zip files.

[2019-04-25 12:52] AndreDlm commented on #1198
Yes, using the true definition for F_oral is important. And Stephan's proposal to estimate a "first pass Fg" would be an adequate solution in my opinion

[2019-04-25 14:50] msevestre opened #1208 "Some tests are failing after refactoring of Workspace"

[2019-04-25 15:07] #1208 closed

[2019-04-25 23:46] msevestre opened #1210 "Updae to latest CVODE"

[2019-04-26 00:30] msevestre commented on #1210
Fixed with #1211

[2019-04-26 00:30] #1210 closed

[2019-04-26 00:48] #1200 closed

[2019-04-26 07:52] StephanSchaller commented on #1210
That't interesting! Do we know what could improve? ;-)

[2019-04-26 16:31] msevestre opened #1213 "Crash when exporting qualification runner"
see https://github.com/Open-Systems-Pharmacology/QualificationRunner/issues/30

[2019-04-26 16:51] #1213 closed

[2019-04-26 18:21] msevestre commented on #939
Maybe something for @ktseow ?
/cc @StephanSchaller

[2019-04-26 18:44] #1101 closed

[2019-04-27 19:46] msevestre opened #1216 "Update to latest OSPSuite.Core"

[2019-04-27 20:10] #1216 closed

[2019-04-28 22:38] msevestre opened #1218 "Update appveyor config to use new builds channel for slack"

[2019-04-29 09:25] TWendl commented on #517
I agree, you are right! In my particular case,  it always was fa=1 .

[2019-04-29 10:07] tobiasK2001 opened #1222 "Installation Validation Report with missing Plots"
PK-Sim 7.4.0:  The created Installation Validation report says that all results are valid. However for page 117, 119, 120, 127 and 128 the graph shows no content. Would be nice to see some simulation results here. Perhaps just the axis had to be adjusted.

Best, Tobias

[2019-04-29 17:06] #1218 closed

[2019-04-30 17:05] msevestre commented on #1205
@Rubilu Without the file, we will not be able to reproduce the issue and thus correct it
SImply go on your pksim file, zip it and attach it to this entry

[2019-05-02 12:38] Yuri05 opened #1224 "Strange UI behaviour"
PK-Sim 7.5.0.70, Windows 10, **Windows text size is set to 150%**

* Open PK-Sim, create new empty project and create a PI.
* Right-click on PI and select "Export to Matlab..."
* Click Cancel in the "Select directory dialog"

The **whole PK-Sim UI is resized** after click on "Export to Matlab..." (even before the dialog is closed via Cancel), especially all the text captions becomes smaller (excep

[2019-05-02 12:46] Yuri05 commented on #1224
P.S. UI Settings (Icon sizes, Skin) are the same in 7.4 and 7.5

[2019-05-02 13:35] msevestre commented on #1224
7.4 did not work properly on high res monitor.
Here is what was happening when starting PK-Sim on a high res monitor

![image](https://user-images.githubusercontent.com/1041237/57078941-48f2c800-6cbd-11e9-8fd1-ebd0886abeaa.png)

or
![image](https://user-images.githubusercontent.com/1041237/57078965-5a3bd480-6cbd-11e9-9941-3d5e54fb3ac2.png)

We have updated devexpress component and I have removed t

[2019-05-02 13:46] msevestre commented on #1224
https://documentation.devexpress.com/WindowsForms/116666/Common-Features/High-DPI-Support

[2019-05-02 16:31] Yuri05 commented on #1224
Indeed, both MoBi 7.4 and 7.5 look shitty with 150% fonts.

[2019-05-03 10:58] Yuri05 opened #1225 "Observers=>LoadFromTemplate crash"
click auf Observers=>LoadFromTemplate
[code]

[2019-05-03 11:02] Yuri05 opened #1226 "Remove TODO in description (Add Observers)"
<img width="400" src="https://user-images.githubusercontent.com/25061876/57133590-8df12a00-6da3-11e9-9780-2b4cebf07cdc.png"></img>

[2019-05-03 11:11] Yuri05 opened #1227 "Extend error message?"
Should we extend the message with something like "Please export a SINGLE observer in MoBi"?
![grafik](https://user-images.githubusercontent.com/25061876/57133683-dd375a80-6da3-11e9-83b5-bfb9d7a8fc5e.png)

[2019-05-03 11:22] ktseow commented on #939
Dear Micahel,

https://github.com/Open-Systems-Pharmacology/PK-Sim/issues/939#issuecomment-487154156
I just tried to compile and run MoBi.BatchTool.exe and PKSim.BatchTool.exe. Both need the DevExpress license.
Plese provide steps to get the license. Thank you

Regards,
Kah Tong

________________________________
From: Michael Sevestre <notifications@github.com>
Sent: Friday, April 26, 2019 8:21:40

[2019-05-03 11:27] Yuri05 opened #1228 "Imported observer not available in the simulation"
[03_RenameObs.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/3141628/03_RenameObs.zip)

In the project attached: Observer-BB contains imported Observer **Plasma_Unbound**
In the simulation this observer is not available
<img src="https://user-images.githubusercontent.com/25061876/57134649-13c2a480-6da7-11e9-8b30-1515d8f5bc3f.png" width="350"></img>

<img src="https://user-images.gi

[2019-05-03 11:58] msevestre commented on #939
DevExpress license can be purchased at DevExpress.com

You do not need a license to compile however. You need the licence to edit and modify the UI in any shape or form

I don't think this Office API is part of their standard package is this would have to be purchased separately. However there is surely a 30days trial?

[2019-05-03 12:52] msevestre commented on #1228
Thanks for the description. Looks like it should work. Will investigate

[2019-05-03 13:20] msevestre commented on #1228
Definitely in the simulation
[code]

[2019-05-03 13:27] msevestre commented on #1228
That's because of this guy
[code]

In this case, we rename the observer to the dimension!

[2019-05-03 13:29] msevestre commented on #1228
Maybe we should not do that at all. Kind of weird
![image](https://user-images.githubusercontent.com/1041237/57140517-ef0a0500-6d85-11e9-8658-2b537e0cdc26.png)

[2019-05-03 14:15] Yuri05 commented on #1228
hmm, interesting...

[2019-05-03 14:21] msevestre commented on #1228
These are the names that are renamed

![image](https://user-images.githubusercontent.com/1041237/57143431-e10bb280-6d8c-11e9-9247-2dc80d399ce2.png)

Seems to be wrong for Liver Periportal and Pericentral no?

[2019-05-03 14:22] msevestre commented on #1228
![image](https://user-images.githubusercontent.com/1041237/57143639-4b245780-6d8d-11e9-867d-bfcfff8ed9a3.png)

[2019-05-03 14:25] msevestre commented on #1228
yep
![image](https://user-images.githubusercontent.com/1041237/57143862-d1d93480-6d8d-11e9-8b1b-0b711eb0e8c2.png)

[2019-05-03 15:09] #1225 closed

[2019-05-03 15:53] msevestre commented on #1227
sure

[2019-05-03 17:03] msevestre commented on #1226
![image](https://user-images.githubusercontent.com/1041237/57153260-c98bf400-6da3-11e9-8a99-95adfa890fd2.png)

[2019-05-03 23:43] #1226 closed

[2019-05-03 23:43] #1227 closed

[2019-05-03 23:46] #1228 closed

[2019-05-07 01:06] msevestre opened #1232 "Issue with snapshot not loading as expected"

[2019-05-07 01:50] msevestre commented on #889
@UlrichSi
I cannot reproduce the bug
![image](https://user-images.githubusercontent.com/1041237/57266170-e563f400-7048-11e9-8ca6-838715bfc4f0.png)

In the attached picture, you can see that I have open the project at 9:49pm (lock file is created when the project is opened) but the last modified time for the attached wj was 9:44pm

Please attach steps to reproduce (maybe with a project?)

[2019-05-07 07:49] #1232 closed

[2019-05-07 12:17] UlrichSi opened #1234 "EAP 7.5: Create/Edit Observer set shows heavy construction tool"
When right-clicking underneath the text in the window, the "Wrench - customize layout" dialogue window appears. The same happens if an observer BB is opened for edit. I presume this is not intended.

![grafik](https://user-images.githubusercontent.com/27352743/57298431-7d59f000-70d2-11e9-8c40-d3eddadfc8ce.png)

[2019-05-07 12:25] msevestre commented on #1234
indeed

[2019-05-07 12:49] #1234 closed

[2019-05-07 12:50] UlrichSi opened #1236 "EAP 7.5: Adding Observers to simulation workflow may need improvements"
My observations when testing feature issue #984 :

I cannot **rename an already existing observer** once it is imported into PK-Sim. Or can I? In the lower half of the observer BB edit window, In such case, the name can be changed, but this does not seem to have an effect. - I can only delete the observers, go back to MoBi, rename them there and export/import them again.

If I add an observer that

[2019-05-07 13:08] msevestre commented on #1236
A buildingBlock Set is a list of building block. Renaming the set won't affet single building blocks indeed

Yes. There is definitely some catching up that could be done here. That being said, even Mobi does not show any warning in that case so I don't know why you would expect PK-Sim to do it :)

[2019-05-07 13:09] UlrichSi commented on #1236
I think in MoBi the display of warnings depends on the settings under Options.

[2019-05-07 13:14] UlrichSi commented on #1236
I was referring to renaming here - I know it was a simple-minded approach  ;-)

![grafik](https://user-images.githubusercontent.com/27352743/57302107-b9914e80-70da-11e9-93ab-b33389cbd515.png)

[2019-05-07 13:15] msevestre commented on #1236
oh yes that should be readonly!

[2019-05-07 13:18] UlrichSi commented on #1236
Well - that would take away all the fun. :-(
Currently I can even insert hyperlinks, using the context menu in the lower part of the window.

[2019-05-07 13:44] msevestre opened #1237 "OBserver details should be readonly"

[2019-05-07 13:47] #1237 closed

[2019-05-08 11:59] UlrichSi opened #1239 "EAP 7.5: New observer "Total fraction of Dose" is not created when metabolites are defined as compounds"
The observer "Total fraction of Dose" is a new feature of version 7.5, requested in issue #1171.

However, if we use a model with metabolites defined as mobile compounds, like in the example model "Paracetamol" (see graph below and see the model that comes with PK-Sim), **this observer is not created**.

I see several options to deal with this situation:
- One can change the metabolites to somethi

[2019-05-08 15:50] msevestre opened #1240 "Enable supersaturation should be IsInput = false"

[2019-05-08 15:51] msevestre commented on #1239
I should add that in this case, local fractions metabolized are also not calculated. (the Total is just the sum of all local fractions).

[2019-05-09 00:55] #889 closed

[2019-05-09 00:56] msevestre commented on #889
@UlrichSi Can you try in MoBi and let me know (PKSim will be availble on Friday but the fix is the same). Thanks

[2019-05-09 07:34] UlrichSi commented on #889
Looks like the bug is fixed in MoBi EAP 7.5, build 8. Well done!

[2019-05-09 10:44] Yuri05 opened #1242 "Advanced Application protocol not imported correctly from snapshot"
[ErrorImportAppFormSnapshot.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/3161717/ErrorImportAppFormSnapshot.zip)
Project attached has advanced import protocol with 6 repetitions
After Export/Import from snapshot: only 1 repetition

#Before
![grafik](https://user-images.githubusercontent.com/25061876/57448398-9214c000-7259-11e9-9ad5-2832a2941722.png)

#After
![grafik](https://user

[2019-05-09 20:06] msevestre commented on #1242
@Yuri05 How was this protocol created. For some reasons, the parameters Number of rep etc.. are not marked as IsInput and as such are not saved into the snapshot.

Was it created BEFORE we introduced the IsInput flag?

I cannot reproduce with a brand new advanced protocol

[2019-05-09 20:48] Yuri05 commented on #1242
with a new adv protocol I cannot reproduce as well.
@sfrechen any comments on how the protocol was created?

[2019-05-10 07:02] sfrechen commented on #1242
I assume via cloning of others (but created with 7.4). Anyway, I'll fix manually now.

[2019-05-10 09:08] UlrichSi commented on #889
PK-Sim EAP 7.5, build 76 works fine too.

[2019-05-13 13:27] amitvtaneja opened #1243 "error message while saving a Pksim file with a new name (7.3.0.42)"
Dear all

I have saved an existing project with a new name, but if I try to open it I get the following error message, probably a bug. Any help would be highly appreciated.

Thanks

Amit Taneja

Application:
PK-Sim® 7.3.0.42

The given path's format is not supported.

Stack trace:
[code]

[2019-05-13 13:41] msevestre commented on #1243
What's the full path of your file?(no just the file name but the path including folder hieararchy as it appears on the windows explorer tool bar)

Also please report bug in the PKSim or MoBI repo. The forum is for questions. I moved the question on your behalf

[2019-05-13 16:35] msevestre commented on #1242
@sfrechen That would be good to be able to reproduce it. If the source protocol was indeed created in 7.4, then there is a bug. If it was created in 7.3 then no bug....

[2019-05-13 16:55] msevestre opened #1244 "Update smartxls"

[2019-05-13 17:18] #1244 closed

[2019-05-13 17:33] msevestre opened #1246 "Devexpress 19.1: Some new features to integrate"
* StackPanel and TablePanel
* SearchBar in ribbon
* Condensed View

[2019-05-14 00:53] regulus92 commented on #1239
I've discovered the same thing. By now I have adopted the former solution- don't set the metabolite as an independent compound.

[2019-05-14 03:11] regulus92 opened #1247 "GIT transit time can be included in user defined variability"
In an individual simulation, gastric emptying time and small intestine transit time are modified to 41.5 min and 10 h, respectively. But when creating a population, distribution of small intestine transit time is still around the initial value. And I find that it can not be set in user defined variability. I think it should be an important parameter for oral absorption.
![QQ图片20190514110629](https

[2019-05-15 22:23] msevestre opened #1248 "Bump to version 8.0"

[2019-05-16 17:55] #1248 closed

[2019-05-17 17:17] teutonicod opened #1250 "UGT1A4 bug when loading?"
Hi guys,

I am triyng to add a transporter UGT1A4 to an individual (human). When searching the database I found the transporter, see screenshot below

![image](https://user-images.githubusercontent.com/11489621/57944606-d2b6ae00-78d7-11e9-93ea-8541933fcd6b.png)

As you can see it is correctly marked as UGT1A4. When selecting any of these processes and going to the next screen, the process is renam

[2019-05-17 17:22] msevestre commented on #1250
@teutonicod The symbol seems to be imported. I am not sure what the symbol means. Aren't those guys equivalent?

[2019-05-17 17:25] teutonicod commented on #1250
Hi @msevestre, thanks a lot for the (very!) quick reply!
What do you mean by symbol? I am really not an expert in transporters, but I think that they are different. I have seen in vitro experiments to test for both these transporters

[2019-05-17 17:29] msevestre commented on #1250
![image](https://user-images.githubusercontent.com/1041237/57945410-cca8d900-78a7-11e9-872a-cdf4b248a717.png)

[2019-05-17 18:34] msevestre opened #1251 "PKSimCLI. SimulationMapping: Name of simulation should use char escaping"

[2019-05-17 19:11] #1251 closed

[2019-05-20 10:55] AndreDlm commented on #1250
I've also seen that for UGT1A9 where the symbol column displays UGT1A**1**, although the Gene ID is correctly linked to 1A**9**.
Since the Gene ID is correct and the expression profile is different from that of the "true" UGT1A1 (Gene ID: 54658), I assume it might be a display error.
@msevestre : Could this be related to [#232](https://github.com/Open-Systems-Pharmacology/Forum/issues/232)?

[2019-05-20 13:58] NicolasATX opened #1253 "95% Confidence Interval: How To Display Results?"
Hello everyone,

I am new to PKSim and I have  #an issue that is certainly simple to solve. I built a model for large molecule with TMDD interaction. In this particular model I want to estimate two parameters:
- Reference concentration of binding partner (as I have in vitro data for Koff and Kd, I didn't want to leave ref. conc. to default 1 µM value)
- Kd FcRn in endosomal space: in this case I h

[2019-05-20 14:00] msevestre commented on #1253
@NicolasATX I have moved the issue to the PKSim repository since it seems to be a bug
However, in order to understand the problem., could you please let us know how to reproduce it?

1. Attach a project that we can use to recreate the issue
1. Describe what needs to be done in order to recreate the issue
1. Describe the issue (e.g. expected results vs what is happening in the tool).

If we have th

[2019-05-20 15:23] NicolasATX commented on #1253
Thank you Tobias and Michael for your feedback,

Here is a light version of the project. I removed different simulations I previously performed (e.g. without TMDD etc...) to make it more comprehensive. However it appears that with this version, the CI of the estimate 'Reference Concentration' is no more calculated --> 'NaN' is returned instead of '0' in the former version in the covariance matrix

[2019-05-21 09:13] Yuri05 opened #1254 "Cannot load population from CSV anymore"
[09_ReadFromPop.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/3201692/09_ReadFromPop.zip)

When combining a-Mobi simulation with a population previously exported to CSV: population cannot be imporrted anymore due to the units in parameter column headers

![grafik](https://user-images.githubusercontent.com/25061876/58083288-fc622480-7bb8-11e9-831c-0bc43e406bec.png)

[2019-05-21 09:14] Yuri05 commented on #1254
@twendl FYI

[2019-05-21 13:33] msevestre opened #1255 "Ensure that Project Id is used for project name. Also simulation should be unescaped name"

[2019-05-21 14:17] msevestre commented on #1254
@Yuri05 Can you reproduce with 7.4?

[2019-05-21 14:26] Yuri05 commented on #1254
yes, same in 7.4

[2019-05-21 15:06] msevestre commented on #1254
Population can be loaded in PKSim as population . So this is really something just with this one use case it seems

[2019-05-21 15:12] msevestre commented on #1254
@TWendl @Yuri05  Work around
Load population first from csv (using Import Population from file) then select this population with your imported population

[2019-05-21 17:14] Yuri05 commented on #1254
This workaround will unfortunately not work, because the intention is to include some parameters which are available only in a simulation, not in individual (s. screen; non-individual-parameters are ignored)

![grafik](https://user-images.githubusercontent.com/25061876/58116355-5c2def00-7bfc-11e9-8fc2-1dc9f52e40b0.png)

This will work only if a population csv is combined with an imported simulatio

[2019-05-21 17:14] msevestre commented on #1254
Working on a fix now

[2019-05-21 17:30] #1255 closed

[2019-05-21 17:31] msevestre commented on #1254
ok I have it
![image](https://user-images.githubusercontent.com/1041237/58117512-bfa02880-7bcc-11e9-888e-334ad1e1728c.png)

[2019-05-22 14:38] lkuepfer opened #1258 "Parameters in parameter identifications (PK-Sim) cannot be deleted"
Identification parameters cannot be deleted since icon is missing in row

[2019-05-22 15:20] msevestre commented on #1258
@lkuepfer Cannot reproduce
![image](https://user-images.githubusercontent.com/1041237/58186734-77900d00-7c83-11e9-925c-c5db30d8104d.png)

What skin are you using?
Also do you have some special font settings such as font scaling etc?

@Yuri05 Can you reproduce the issue?

[2019-05-22 19:48] lkuepfer commented on #1258
Several skins were tested, this not resolve the issue.
I am using Windows X, Resolution 3860x2140 (250%).
All settings are default.

The problem does NOT occur in MoBi!

[2019-05-22 20:08] msevestre commented on #1258
ok can you try with v8?
http://pk-sim-portable.open-systems-pharmacology.org

downlaod the zip file, dezip and start pksim. I think it should be solved
that way

On Wed, May 22, 2019 at 3:48 PM lkuepfer <notifications@github.com> wrote:

[2019-05-23 09:29] Yuri05 opened #1260 "Problem with Inputs"
[input.zip](https://github.com/Open-Systems-Pharmacology/QualificationRunner/files/3211315/input.zip)

`.\QualificationRunner -i master_quali_plan.json -o C:\re_input -p C:\PK-Sim8 -f`

Error:
[logfile.txt](https://github.com/Open-Systems-Pharmacology/QualificationRunner/files/3211325/logfile.txt)

[code]

[2019-05-23 11:43] PriKalra opened #1259 "Multiple compound definitions (over a 100) in PKSim"
Dear All,

Is there a smart way to define 150+ compounds in PKSim without constantly adding a compound?
Like some software allow a batch input of the various values which are compound specific and hence help create the compound.

Best,
Pri

[2019-05-23 12:53] msevestre commented on #1259
@PriKalra This seems to be a very unlikely scenario for PK-Sim. What are you trying to achieve? What type of information do you have on each compound?

[2019-05-23 12:55] msevestre commented on #1259
@PriKalra Otherwise there is some hidden batch features. You can follow the suggestion here
https://github.com/Open-Systems-Pharmacology/Forum/issues/305

but as mentioned before, this is probably not how you should be using PK-Sim

[2019-05-23 15:01] msevestre commented on #1182
Yes this will be part of v8. The visual stuff not

You can try it anytime btw by using the latest version (pk-sim.portable.open-systems-pharmacology.org)
Download the zip file, unzip it and enjoy

[2019-05-23 15:19] AndreDlm opened #1261 "Supersaturation can be activated for formulation types other than Particle Dissolution"
There's a way to enable supersaturation for any formulation type:
- Create a molecule with `enableSupersaturation=0` and set up a simulation with e.g. `Weibull` as Formulation Type.
- In the simulation `enableSupersaturation` can be set to `Yes` without having the Error message displayed

Example attached
[Test.zip](https://github.com/Open-Systems-Pharmacology/Forum/files/3212904/Test.zip)

v8.0.5

[2019-05-23 15:25] msevestre commented on #1260
I think it's because the export happens in // and somehow the implementation is not thread safe!

[2019-05-23 15:26] msevestre commented on #1260
This needs to be fixed in OSPSuite.Utility in fact

[2019-05-23 15:30] AndreDlm opened #1262 "Update molecule with supersaturation into simulation without supersaturation should be prevented"
Related to #1261
Another way to use supersaturation for e.g. Weibull formulation type is as follows:
- create a molecule with `enableSupersaturation=1`
- set up a simulation with this molecule and `Particle Dissolution` as formulation type
- set `enableSupersaturation=0`
- configure the simulation and exchange the formulation BB with e.g. Weibull
- update the molecule in the simulation from the BB

[2019-05-23 15:34] AndreDlm opened #1263 "Figure in Formulation BB displaying Fraction dissolved has cropped x-axis title"
In v.8.0.5 the x-axis title and annotation of the Figure showing the dissolved fraction for e.g. a Weibull function is cropped:

![Untitled](https://user-images.githubusercontent.com/26541603/58265837-c1125200-7d80-11e9-86da-4a71e53dafee.png)

This happens for any formulation type, not just Weibull

[2019-05-23 15:53] msevestre commented on #1263
Weird

[2019-05-23 16:10] #1263 closed

[2019-05-23 16:10] msevestre commented on #1263
@AndreDlm Fixed. Thanks for reporting

[2019-05-23 16:11] msevestre commented on #1261
@Yuri05 Not sure how you want to go about it. Especially with #1262. This is just a parameter. I think we have validation on run as well that we could check but this seems to be overkill.

[2019-05-23 16:31] Yuri05 commented on #1261
ok, in the next version then

[2019-05-23 16:34] #1260 closed

[2019-05-23 23:39] StephanSchaller commented on #1259
Depending on the differences between the compounds, if you generate a generic PKSim Simulation that includes generic processes that contain all of the ADME properties of all compounds and then go to MATLAB/R it should be easy to go through a batch simulation that loops through a table (e.g. excel/csv sheet) containing the specific ADME processes parameters for each compound…

I guess you would wan

[2019-05-24 09:45] teutonicod commented on #1182
Thanks a lot @msevestre !
I will have a look then already in the portable version and let you know if there is any issue.
Don't hesitate to contact me if you need some help with the visual stuff!

Donato

[2019-05-24 11:16] Yuri05 opened #1268 "Irritating info message"
Info message "_Qualification run finished_" comes every time **_before_** the next project is loaded from snapshot and exported. Thus it looks like below for several minutes and the user might think that the qualification runner is finished (or crashed).
<img width="300" src="https://user-images.githubusercontent.com/25061876/58323774-47806f80-7e25-11e9-803c-90d091b189d6.png"></img>

The info mess

[2019-05-24 11:33] PriKalra commented on #1259
Hi,
Thank you for the comments. My intention is to roughly go in this direction with the same: [Incorporating High-Throughput Exposure Predictions With Dosimetry-Adjusted In Vitro Bioactivity to Inform Chemical Toxicity Testing](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4620046/)

[2019-05-24 17:59] yishuanwu opened #1266 "Premature Infant Weight and Height"
Hi all:

I'd like to share some of my notes on the PK-Sim preterm population.

The PK-Sim preterm neonate population is based on the publication by Claassen et al. (2015):
http://www.eurekaselect.com/134577/article

The description for establishing body weight and height was a bit vague to me. It referenced the 2003 Fenton premature growth charts publication, some data from Australia and Pediatrix

[2019-05-24 20:58] StephanSchaller commented on #1259
Yes, so as I wrote above. Maybe the excel table would contain the raw input compound properties (in-vitro physchem & metabolism) and you would do some IVIVE pre-calculations within the script as they do in their paper and then plug these values into your generic PBPK in high-throughput fashion in R.

It will take some time but you will not really be able to do this conveniently through the GUI in

[2019-05-27 07:58] teutonicod commented on #1182
Hi @msevestre,
I checked the portable version but I did not found the observer. I only found the observers located in the different organs describing the fraction metabolized in each compartment but not the global one defining the total fraction metabolized by an enzyme. I used the PK-Sim portable located here

https://ci.appveyor.com/project/open-systems-pharmacology-ci/pk-sim/build/artifacts

Do

[2019-05-27 08:33] PriKalra commented on #1259
thanks a lot stephan! I will use the batch input approach.

[2019-05-27 15:43] Yuri05 commented on #1182
@teutonicod
You will find it in the **newly created** simulations under „_Total fraction of Dose-XXX_“ (XXX is a Compound)
![grafik](https://user-images.githubusercontent.com/25061876/58429605-bfa99800-80a6-11e9-8f15-039e85d8521c.png)

[2019-05-28 21:31] #1240 closed

[2019-05-29 20:17] msevestre commented on #1259
@PriKalra Closing. Please reopen the issue if you need more assistance. Also as an FYI, questions are better asked in the forum. Cheers

[2019-05-29 20:17] #1259 closed

[2019-05-29 20:31] msevestre commented on #1268
here is the output now
![image](https://user-images.githubusercontent.com/1041237/58589115-29ed4480-822f-11e9-8494-d650eb121909.png)

[2019-05-30 00:34] #1268 closed

[2019-06-04 14:21] tobiasK2001 opened #1270 "Strange behaviour of Curves and Axis Options in Chart editor. PK-sim 7.4.0"
I am not sure if this is a bug or an feature gone bad:
Simulation results for compartments are still visible in Curves and Axis Options visible after rerun the Simulation without selecting them.
Steps to reproduce:
1.) Run simulation select Brain Tissue concentration of Midazolam + Kidney Urine fraction excreted and Peripheral venous plasma
2.) than deselect Brain Tissue concentration of Midazolam

[2019-06-04 14:38] msevestre commented on #1270
It's a bug

[2019-06-04 14:58] tobiasK2001 commented on #1270
good to know ;-)

[2019-06-05 09:14] SRuedesh commented on #697
I would greatly appreciate the implementation of such a feature. Currently I have to export simulations to MoBi only to implement an observer which essentially just adds up concentrations of two enantiomers to display the concentration of the racemic substance and export the simulations back to PK-Sim.

This is where it gets really problematic. Essentially, the current workaround is to change the

[2019-06-05 09:16] msevestre commented on #697
@SRuedesh This will be part of the next release (Version 8) coming up in the next few weeks

[2019-06-05 09:18] msevestre commented on #697
you can give it a spin by downloading the nightly version
http://pksim-portable.open-systems-pharmacology.org

[2019-06-05 09:20] #697 closed

[2019-06-06 09:50] tobiasK2001 opened #1271 "Another Strange Behavior of the Chart Editor PK-Sim 7.4"
steps to reproduce:
create Simulation with existing BB. click Run, let everything on default (only peripheral venous blood plasma is selcted) and click OK

![image](https://user-images.githubusercontent.com/25585248/59023470-2ae62d80-8850-11e9-9638-776a215156dd.png)

results look like expected
![image](https://user-images.githubusercontent.com/25585248/59023505-40f3ee00-8850-11e9-83ca-25e2acb9fc59

[2019-06-06 09:51] tobiasK2001 commented on #1271
[Bug Curves and Axes Options in Graph editor.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/3261019/Bug.Curves.and.Axes.Options.in.Graph.editor.zip)

[2019-06-08 08:19] msevestre commented on #1271
These outputs are always available in order to calculate different fractions for PK-Analysis. So this is just a display issue. Nothing to worry about

[2019-06-08 08:22] msevestre opened #1272 "Fix failing tests after #1267"
see #1267

[2019-06-08 08:27] #1272 closed

[2019-06-08 08:29] msevestre opened #1274 "Update latest dimensions"

[2019-06-08 08:33] #1274 closed

[2019-06-10 07:12] tobiasK2001 commented on #1271
Ah, Ok. Thanks for letting me know;-)

[2019-06-12 08:53] #1271 closed

[2019-06-12 09:24] msevestre commented on #1258
@lkuepfer Can you let me know if the issue is fixed with the v8?

[2019-06-12 09:25] msevestre opened #1277 "Chart not updated upon refresh"

[2019-06-12 17:08] #1277 closed

[2019-06-13 16:27] msevestre commented on #1019
This has been fixed with one of the latest bug fix in core

[2019-06-13 16:27] msevestre commented on #1019
see #1277

[2019-06-13 16:27] #1019 closed

[2019-06-13 16:29] msevestre commented on #1205
@Rubilu Closing since you did not provide us with any file so that we could reproduce the issue.
Please reopen if you can attach the required info. THanks

[2019-06-13 16:29] #1205 closed

[2019-06-15 01:34] regulus92 opened #1279 "Minor bug in chart options"
Select a population simulation result > uncheck "side margins enables"> side margins disappeared > Right mouse click "reset zoom" > back to display with side margins, and "side margins enables" option useless.
Individual simulation doesn't have such a problem.

[2019-06-18 05:40] ilanzalit opened #1280 "Compound Plasma fraction unbound"
An opposite relation between fraction unbound   to simulated plasma level   is   observed !!   reducing the plasma  unbound increased the simulated plasma level .   Wouldn't  it  be expected to be to opposite ? !  : reducing the  plasma unbound    reduces the  simulated  plasma  level ?

[2019-06-18 14:54] StephanSchaller commented on #1280
Depends what you have been plotting. Plasma-unbound or -total?

[2019-06-20 11:58] ilanzalit commented on #1280
Hi
Thanks  a lot   for your  comment.
 in the simulation results i can see  that   "peripheral  venous Blood Plasma concentration"  is plotted   (this is what is written in  the label at the top side of the  simulation plot ).    In   case it should  be modified where (in which   building block)  i can change the  parameter.

[2019-06-25 14:30] ilanzalit opened #1282 "Error massage when opening the parameter identification"
Application:
PK-Sim® 7.3.0.42

Array cannot be null.
Parameter name: bytes

Stack trace:
[code]

[2019-06-25 15:34] msevestre commented on #1282
@ilanzalit I am afraid that this particular PI is corrupted and cannot be used anymore
Did you do anything special with it? Did you have a problem saving the project?

Can you attach the project?

[2019-06-26 16:19] Yuri05 opened #1283 "DDI+Hill info"
Hill kinetics is the only one not affected by the DDI, which is not obvious for the user.
In case user selects this combination, an info hotspot should be shown in the CreateSimulation dialog.

[2019-06-27 15:55] jgg1822 opened #1284 "Autoinduction"
Is it possible to include autoinduction of CYP enzyme metabolism in PK-Sim?

[2019-07-01 15:04] sfrechen commented on #1284
Yes. If you induce an enzyme that your compound is substrate of, you will consider auto-induction.

[2019-07-01 15:05] sfrechen opened #1285 "Saving a project with lots of observed data takes ages."
Saving a project with lots of observed data takes ages. The progress bar stays at 40% for quite a while. Final project size only 25 MB.

[2019-07-01 17:22] msevestre commented on #1285
How many observed data are we talking about?
How much time are talking about?
Assuming this happens only the first time ? Upon reload of project, this should not be the case?

[2019-07-02 07:22] sfrechen commented on #1285
The file has around 2472 observed data objects.
Around 7.7 Megabyte in .json format.
Saving takes more than 10 minutes. Every time.

[2019-07-02 11:32] Yuri05 opened #1286 "PK-Sim.CLI Crash"
OSP Version 8.0, project created with 8.0
[ExampleProject.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/3349822/ExampleProject.zip)

Call: `PKSim.CLI export -p C:\Temp\ExampleProject.pksim5 -o C:\Temp\Out -x`

Error:
[code]

[2019-07-02 13:32] msevestre commented on #1286
Of course it's always what's not tested automatically that fails...

Obviously

[2019-07-02 13:54] msevestre commented on #1285
2.5k observed data!! WOW
PK-Sim was definitely not designed with this number in mind. We do not track changes in obs data specifically so they are always saved again. Cost nothing for  < 100 observed data but this has clearly an impact on such large number

You will have other issues with PK-Sim down the road with so many data.
Is there a reason why you do not use a mean an std for those data?

[2019-07-02 15:49] sfrechen commented on #1285
Unfortunatel yes. The file is pretty unstable.

Yes, I would like to use the individual data. That is what we work with. The package is just the complete dataset of all Phase I studies for a current development project.

Why does PK-Sim has soch much issues with it? 7 Megabytes of data is not a lot!

[2019-07-02 15:56] msevestre commented on #1285
@sfrechen This has nothing to do with the "amount" of data. We store many MB of simulated results. But the storage was optimized for this scenario

Each observed data is a specific entry in the database as opposed to a blob of data saved. This allows for quick read of specific dataset but clearly falls on its face when using this amount of data.

I do not know how you plan to use this data within

[2019-07-02 20:54] StephanSchaller commented on #1285
Why don't you use R or Matlab? ;-)
Ideal for this scenario!

[2019-07-03 00:31] msevestre commented on #1285
@sfrechen Can you send me the project? Or a project equivalent in terms of numbers of observed data? I could try to reproduce and at least see where we can optimize. Very hard to reproduce otherwise

[2019-07-03 06:47] HenrikCordes opened #1288 "Alterations in "Distribution" "Permeability" and "intestinal solubility" parameters not indicated"
Dear Developers,

when the intestinal permeability parameter is changed in a simulation:
![image](https://user-images.githubusercontent.com/4817133/60568861-44569880-9d6e-11e9-8569-60ed753d70e4.png)

this is not indicated in the "Simulaitons" sub-window
![image](https://user-images.githubusercontent.com/4817133/60568888-4de00080-9d6e-11e9-8517-43be04dc4183.png)
If I change for example of the logP

[2019-07-03 06:57] sfrechen commented on #1285
We do. But we do also need a comprehensive file, e.g. for eSubmission.

Anyways, let's not put too much priority here. I guess we are planning to have in future data stored externally anyway, right? Within this implementation, we should optimize access to data then.

[2019-07-03 07:04] teutonicod commented on #1288
Dear Henrik,

I absolutely agree with you! Thanks for posting this issue! I also think that this should be marked in the simulation, and the same issue appears also with the B/P ratio; also if it is modified, it is not shown as changed in the simulation.

Thanks, Donato

[2019-07-03 09:42] Yuri05 commented on #1288
My understanding is that values in the "Distribution" "Permeability" and "intestinal solubility" tabs are calculated from multiple building blocks and therefore "no alteration" took place in a building block.

Your understanding is correct.

You can check for all parameters entered _or modified_ by user in a simulation under the **User Defined** parameters node.
![grafik](https://user-images.githu

[2019-07-03 15:16] sfrechen opened #1289 "Export and reload via snapshot of user-defined observers does not work"

[2019-07-03 15:20] HenrikCordes commented on #1288
Dear @Yuri05,

thank you for pointing me to the "user defined" Tab in the simulation! That will make the QC much easier for me.

My point of view would be that if cloning of a simulation with modified building block settings is not allowed, why would it for altered simulation parameters? In both cases, the resulting simulation is not in the default setting.

To me it would make sense to allow clon

[2019-07-03 15:20] sfrechen opened #1290 "Issue when exporting snapshot with changed building block parameters in simulations"
If a project cotains simulations with changed building block parameters (red sign), thex export to json throws a warning.
However, actually it works properly. Also re-loading the snapshot works with the changed parameter. Only the "red sign" is missing (it shows the green sign.)

Please fix!

[2019-07-03 15:23] teutonicod commented on #1288
Hi @Yuri05 ,

But in the case of the intestinal permeability, the value is available in the compound building block, so I would expect that if this value is modified, it should be marked as changed with a red flag.

As @HenrikCordes, I would also be happy to have the possibility to clone a simulation also if parameters have been modified :-)

Donato

[2019-07-03 15:24] sfrechen opened #1291 "Export/re-load of snapshot: transparency settings of colors is lost"

[2019-07-03 15:37] msevestre commented on #1285
I do not see how reading the data `every time` the project loads can be any faster! In your case, you may have to open hundreds of excel files.

I'd like to get the example however

[2019-07-03 15:38] msevestre commented on #1288
Not if the value is the calculated value.

[2019-07-03 15:40] msevestre commented on #1289
Yes this is not supported yet. We should prevent export of snapshot in that case (or implement expor to snapshot, which is more work)

[2019-07-03 15:43] msevestre commented on #1290
[code]

hum... clearly the message says don't do this because reimport won't work. What's the problem?

[2019-07-03 15:47] msevestre commented on #1291
This is an issue in https://github.com/Open-Systems-Pharmacology/PK-Sim/blob/develop/src/PKSim.Infrastructure/Serialization/Json/ColorConverter.cs

[2019-07-03 15:52] Yuri05 commented on #1288
@HenrikCordes

It's more for the technical reasons (not so easy to implement 😄 )

Please create a feature request for this and we can discuss it there.

@teutonicod

It's more complicated here. In fact, those 2 parameters are **different**.
![grafik](https://user-images.githubusercontent.com/25061876/60606109-06339600-9dbb-11e9-9fdd-58c6c3685521.png)
If you look at the formula of Intestinal permea

[2019-07-03 20:42] sfrechen commented on #1290
Well, obviously it happens that we work with changed state simulations and would like to keep it. Is it problematic to implement?

[2019-07-03 20:45] sfrechen commented on #1285
I would Need to prepare one with dummy data.

Well. Probably thousands of excel files is not the ideal way for any new implementation.

[2019-07-03 20:49] msevestre commented on #1290
@sfrechen Yes it is not straightforward. That's why it is not implemented.

[2019-07-03 20:51] msevestre commented on #1285
I agree. But so far, the specification was to always load the data from the original source (which is always an excel file). I do not know how you loaded your 2.5k in PK-Sim in the first place, but this loading by reference is supposed to `ONLY` work when using the normal importer flow.

This could be revisited obviously if the specifications have changed
@Yuri05 Please advise

[2019-07-04 07:38] sfrechen commented on #1285
I did import via conversion of NONMEM datafile via R to JSON (into 2.5k building blocks).

Yes, we need to revisit this. We need probably somewhat like filterings etc.

[2019-07-04 07:40] sfrechen commented on #1290
The changed state is probaly a property? Can it not be added to the json specification?

[2019-07-04 09:02] Yuri05 commented on #1290
This does not make sense. Changed state must be recognized automatically.

Also imagine e.g. the following scenario:
* you change some pH value (e.g. pH of intracellular space) in a simulation from 7 to 7.5 and export to a snapshot.
* In the next PK-Sim version you decide that `pH=7.5` should become the **new default value in the individual** and change the PK-Sim database accordingly.
* Now when

[2019-07-04 12:18] sfrechen commented on #1290
Rather theroretic than practical ;-) but fair enough. The alternative (current implementation) is also npt unproblematic. I would suggest:
In case building block parameters are changed in simulations -> keep them as simulation parameters and convey the "changed state" icon.

[2019-07-04 12:40] Yuri05 commented on #1290
btw. my example was invalid :) (exchanging an individual-BB in a simulation would also replace the changed pH). Have to think about a better one.

[2019-07-04 13:29] msevestre commented on #1290
This is not the only scenario.
If you change a building block parameter (for example your individual) and export to snapshot, the simulation will be recreated using the changed building block, not the original one.

The only scenario that could work would be "Changing parameters in simulation". As soon as you change a parameter in the building block, you are in for a lot of pain

[2019-07-04 15:31] sfrechen commented on #1290
Changing a building block parameter in the building block and not updating any simulation is not meaningful and should not be done for any of our compounds being officially released at OSP.

"Changing parameters in simulation" is quite common for a few simulations within a project!

[2019-07-04 20:30] msevestre commented on #1290
ok. If we agree to only take parameters changed in the simulation, then that could work. We should be able to retrieve the simulation state for each building block and overall state.
If the building block were changed however, this will fail

[2019-07-05 07:32] sfrechen commented on #1290
Perfect!

[2019-07-05 11:19] HenrikCordes opened #1292 "Feature request: Improving "Clone simulation" function"
With regards to the discussion in #1288

The feature request would be to improve the "Clone simulation" function to allow for either setting all parameters (from building blocks or derived ones) back into default state as defined in the building blocks, or let one chose which altered parameters to keep as in the "Scale..." option of the individual building block.

The reason for this request is th

[2019-07-06 17:44] StephanSchaller commented on #1290
Can we identify the use-cases, where you may have several simulations with changed parameters?

This might also be an opportunity to change the logic such that we might not need "changed" simulations.

E.g. an example that I have is different Kd FcRn for different species. Similar to e.g. lipophilicity it should be possible to define several Kd FcRn values per compound.

[2019-07-06 18:56] msevestre commented on #1290
You are referring to building block augmentation (e..g adding a variation of a parameter). Ideally this should not lead to simulation becoming red, but this is not always clear cut.

As soon as someone changes a parameter in the simulation (this is the use case we are talking about here I believe) the simulation will turn red. I don't see any other way around this

[2019-07-06 21:31] StephanSchaller commented on #1290
Correct.

Yes, but in an ideal scenario, if a project is "cleaned up", there should be no more "red" simulations, or not?
But at this time sometimes you are forced to. "Forced" meaning, there is no way around it (e.g. in my given use-case above).

...just a thought. maybe not the right thread to bring it up,

[2019-07-08 11:52] sfrechen commented on #1290
Building block augmentation maybe a reasonable way for some parameters but definitely not for all and nor every case. So, let's focus here on cases where changed simulations make sense ;-)

[2019-07-11 11:09] karthikl6 opened #1293 "Mechanism based inactivation: Additional clearance"
Hi @StephanSchaller @tobiasK2001,

After reading the discussion here [#226](https://github.com/Open-Systems-Pharmacology/Forum/issues/226), I still have a question. I'm working on a molecule that undergoes auto-inhibition through mechanism-based inactivation of the enzyme. I have added intrinsic clearance of molecule for this specific enzyme and then added KI and Kinact for the MBI. Now, even thou

[2019-07-16 07:34] HenrikCordes opened #1294 "Data can't be deleted: stuck in "Comparisions""
Dear all,

I have to reload a data set that is used in "Simulations" and "Comparisons".

While selectively deleting the data set from a Simulation allows the deletion in the data building block, a data set that is used in the Comparisons can't be removed. I can remove the data from the displayed chart in the "Curves and Axis Options" tab, but not from the chart editor. This prevents a deletion of

[2019-07-16 13:33] Yuri05 commented on #1294
Hmm, I can delete observed data building block if it is used in comparisons only.
Which PK-Sim version are you using?

[2019-07-16 13:56] HenrikCordes commented on #1294
Dear @Yuri05 ,

I use version 8 build 22.

The error looks as follows:

[2019-07-16 14:28] tobiasK2001 commented on #1293
Dear Karthik,
that depends were your parameter for intrinsic clearance comes from: fitted? In vitro measured with which assay? Further, is your K-inact of the TDI small vs. K-cat. If, yes you might ignore it as it was the result of #226.
Hope this might help you. Best, Tobias

[2019-07-17 01:19] msevestre opened #1295 "Population Creation should show ref to publication as tooltip"
https://github.com/Open-Systems-Pharmacology/Forum/issues/360

Not visible anywhere. It would help

[2019-07-17 09:19] AndreDlm opened #1296 "Reduce max. number of decimal places allowed for display"
Rather unsurprisingly, a very reliable way to make PK-Sim crash is to set the number of decimal places in the general options to the maximum value allowed: 999999999 (!)
More surprisingly, even if you type in this value and then click on Cancel, PK-Sim crashes.

[2019-07-17 09:47] AndreDlm opened #1297 "Allow import of observed data with duplicate time values"
I never understood why it's not possible to import data with duplicate time values, theoretically and practically that's a possible scenario.
Is there a way to remove this limitation?

[2019-07-17 09:57] Yuri05 commented on #1297
What are the use cases for having such a data?

[2019-07-17 12:00] msevestre commented on #1297
Can you explain the use case?
Also what about PI? What values are the algorithm supposed to use when optimizing?

[2019-07-17 14:52] Yuri05 commented on #1294
ok, obviously it happens with **population** simulation comparisons.
With **individual** simulation comparisons observed data can be deleted even if used in comparison plot.

Well, at the moment I see the only possibility: remove pop simulation comparison first and recreate it after observed data was deleted...

[2019-07-19 08:23] wilbertdew opened #1298 "Error on file opening"
Hi All,

After editing my file yesterday, when everything worked fine, reopening today gave the following error:
![image](https://user-images.githubusercontent.com/8969023/61520295-2cd60b80-aa0e-11e9-8831-cbd92ce5be48.png)

Interestingly, I can still open the history tab after closing this error window and see what I did yesterday:
![image](https://user-images.githubusercontent.com/8969023/6152037

[2019-07-19 13:26] msevestre commented on #1298
@wilbertdew You can send me your project and I can look at it (michael@design2code.ca)
If your project is public, you can simply upload it here
Cheers

[2019-07-19 19:15] wilbertdew commented on #1298
@msevestre Thanks for your offer. Unfortunately, I cannot share the file due to the confidential observed data included. I already tried with the nightbuild, same problem. I am afraid I have to redo the work then.
Thanks for your time. Based on a previous thread on this forum where I read that the PK-Sim files are SQLite databases I followed the steps as described [here](https://www.recoveryandman

[2019-07-19 19:44] msevestre commented on #1298
This is not an issue with the database. It is probably an action that you performed that resulted in a corrupted state.

When does this error occur? When you start the project? Or when you open a simulation?

[2019-07-19 20:56] wilbertdew commented on #1298
When I open the project.

[2019-07-19 20:58] msevestre commented on #1298
@wilbertdew it is likely an easy fix in that case. At any rate, if you change your mind, let me know (or we can sign an NDA). Cheers

[2019-07-22 11:02] wilbertdew commented on #1298
@msevestre Thanks, I think that could be helpful for the future! For now, redoing the work is probably faster than waiting for the NDA ;)

[2019-07-23 15:27] msevestre commented on #1298
Sure. It would be great to know however what you did so that we can fix the bug. Because it will happen again

[2019-07-24 08:19] AndreDlm commented on #1297
Well, of course there will always be a way to categorize measurements at the same time point into two separate data sets (be it sample 1 and 2), but sometimes I don't want to have _n_ different data sets for the same individual

[2019-07-26 15:01] AndreDlm opened #1299 "Buggy behaviour in PI: Id 54T2oOieckOeos4KB4QLQA not unique"
As discussed in earlier entries (e.g. #1109), I often face issues during the model development process when running PIs, changing the model structure, renaming simulations, deleting parameters etc. Typically, the PI can't be re-opened anymore or the results are lost.

Attached is a sharable example: When opening the Id, the Error pasted below is thrown, but the PI can be opened nonetheless.
When t

[2019-07-28 15:05] msevestre commented on #1299
The stack trace mentions something about `Renaming`. Can you explain what you were doing?

A step by step instruction on how to reproduce the bug would be great. The attached project is already corrupted so it's hard to understand what is happening

[2019-07-29 08:44] AndreDlm commented on #1299
I've been working on this project for weeks, going one step back and two ahead, so a step by step instruction is difficult to give.
What I did is to rename simulations, PIs, default parameters in the `Molecule BB` and observed data, re-configured simulations that were present in the PI (such as setting other defaults for `P_int`, `P_org` and `Solubility`) and added/deleted CL processes in the mode

[2019-07-29 09:09] lkuepfer opened #1301 "PK-Sim erroneously consumes almost full processor capacity"
PK-Sim consumes almost full processor capacity even though "priority" has been set to "low".

- standard PBPK Model
- PK-Sim 8, build 22
- Windows 10

[2019-07-29 09:58] PavelBal opened #1300 "Population export to CSV - constants mapping"
The CSV resulting from export of a PK-Sim population has rows "IndividualId", "Gender", "RaceIndex", "PopulationName", and the paths of the parameters.

Is there somewhere a list defining how the numerical entries of Gender and RaceIndex are mapped to the selected genders and populations?
In case of gender, I guess `{1, 2, 3} = {MALE, FEMALE, UNKNOWN}`.

RaceIndex is probably
[code]
but how is it

[2019-07-29 12:45] msevestre commented on #1301
@lkuepfer Can you explain the context of this processor usage?
Are you running a simulation, population simulation, PI, Sensitivity?

Also note that by default, for all the tasks that can be parallelized, PK-Sim will use `Number Of Core -1` on your machine

So If you have 8 cores, it will use 7. This setting can be changed in the UserSettings . What value do you have in your user settings?

[2019-07-29 12:57] msevestre commented on #1300
This all comes from the database. Typically those are internal values only and as a user, you should normally not have to care about them

from the pksim db

tab species

species | display name | description | sequence | user_defined | icon_name | is_human
-- |-- |-- |-- |-- |-- |--
Beagle |Beagle |Beagle |3 |0 |Beagle |0
Dog |Dog |Dog |4 |0 |Dog |0
Human |Human |Human |1 |0 |Human |1
Minipig |Min

[2019-07-29 13:04] PavelBal commented on #1300
I have to care if I want to create a population-csv in MatLab using the function PKSimCreatePopulation ;)

Thanks!

[2019-07-29 13:08] lkuepfer commented on #1301
I am doing a „simple“ PI with 7 dosing schemes i.e. simulations. The maximal number of processors to use is set to 7 in the user settings.

However, PK-Sim was basically taken over all computational resources of my (rather new) laptop such that I could basically not work any more. As mentioned I had even set the priority to “low” .

Von: Michael Sevestre <notifications@github.com>
Gesendet: Montag

[2019-07-29 13:50] msevestre commented on #1300
[code]
 I think you need the population Id not the index...

[2019-07-29 13:58] lkuepfer commented on #1301
I.e. the priority of PK-Sim in the  Task-Manager was set to “low”

Von: Michael Sevestre <notifications@github.com>
Gesendet: Montag, 29. Juli 2019 15:51
An: Open-Systems-Pharmacology/PK-Sim <PK-Sim@noreply.github.com>
Cc: Lars Kuepfer <lars.kuepfer@bayer.com>; Mention <mention@noreply.github.com>
Betreff: Re: [Open-Systems-Pharmacology/PK-Sim] PK-Sim erroneously consumes almost full processor cap

[2019-07-29 16:58] Yuri05 commented on #1301
@lkuepfer

If` maximal number of processors=7` is the _deafult_ setting: that means that you have 8 cores (or 8 hyper threads).
7 simulations in your PI will be then perfectly parallelized on 7 cores and PK-Sim will consume 87.5% of your CPU. If other tasks are active at the same time: you CPU usage will be even higher.

Setting priority of PK-Sim to low will just give priority to other potential

[2019-07-29 20:38] lkuepfer commented on #1301
Even if other „applications“ means opening a simple folder? Basically, I could not work at all and had to close PK-Sim. Something like that never happened before…

Von: Juri Solodenko <notifications@github.com>
Gesendet: Montag, 29. Juli 2019 18:59
An: Open-Systems-Pharmacology/PK-Sim <PK-Sim@noreply.github.com>
Cc: Lars Kuepfer <lars.kuepfer@bayer.com>; Mention <mention@noreply.github.com>
Betref

[2019-07-29 20:45] msevestre commented on #1301
I think the key is "Pi with 7 simulations".
This will use one core per simulation because you are allowing 7 cores to be used

If you decide to use your laptop while doing PI with many simulations, the easiest way is to restrict the number of cores to 6 or less

And it's not because you are not doing anything that the computer is not doing something.... Especially when you know of the infamous `vi

[2019-07-30 17:07] #1300 closed

[2019-07-30 17:08] msevestre commented on #1299
probably linked to
https://github.com/Open-Systems-Pharmacology/OSPSuite.Core/issues/497

Hard to tell without steps to reproduce.

[2019-07-30 17:08] #1298 closed

[2019-07-30 17:10] msevestre commented on #1243
No feedback in over two months. Closing

[2019-07-30 17:10] #1243 closed

[2019-07-31 06:05] lkuepfer commented on #1301
Thank you very much for your help! That makes sense. I will give it a try.

Von: Michael Sevestre <notifications@github.com>
Gesendet: Montag, 29. Juli 2019 22:45
An: Open-Systems-Pharmacology/PK-Sim <PK-Sim@noreply.github.com>
Cc: Lars Kuepfer <lars.kuepfer@bayer.com>; Mention <mention@noreply.github.com>
Betreff: Re: [Open-Systems-Pharmacology/PK-Sim] PK-Sim erroneously consumes almost full proc

[2019-08-01 09:27] PavelBal commented on #1301
From my experience it is the RAM that limits the overall performance, not the CPU load. Check the memory usage in the task manager.

[2019-08-01 17:02] Yuri05 opened #1302 "IsInput for advanced protocol parameters"
When adding protocol parameters on the fly: `IsInput `should be set to true
https://github.com/Open-Systems-Pharmacology/PK-Sim/blob/739a0d73c2832762d4879bf5c0004bf0612b662b/src/PKSim.Core/Model/SchemaFactory.cs#L45-L47

At the moment we get sometimes problems with advanced protocol parameters (e.g. number of repetitions or time between repetitions) when exporting projects to snapshots.
Parameters

[2019-08-01 17:03] Yuri05 commented on #1302
@sfrechen @AndreDlm FYI

[2019-08-07 11:13] StephanSchaller opened #1303 "Lymph Neighborhood Names"
Why are GI-tract Mucosa Lymph Neighborhoods named differently than for other organs?

the are named:

SEGMENT_cell__VenousBlood_pls

Other Organs:

Organ_int_VenousBlood_pls

[2019-08-07 11:59] RomainCarrez opened #1304 "Increase of Vss during DDI"
Hello everyone,
During a DDI simulation (CYP3A4 competitive inhibition), the Vss of my compound is highly increased (about 4-5 L/kg without inhibition and about 90 L/kg during the DDI). I don't understand where  it comes from. Do you have any ideas ? Thanks

[2019-08-07 14:53] StephanSchaller opened #1305 "Feature: Generic implementation of FcRn binding reactions"
I guess this then also extends to functionality in MoBi...so:

If we have many proteins, FcRn binding in endodomal space, interstitial and plasma is implemented for each protein amounting to many reactions even though they all have the same structure.

Could we allow implementation of reaction formulas such that we could also leverage generic naming i.e. MOLECULE.

Just a thought. Need to think on

[2019-08-08 12:00] RomainCarrez commented on #1304
The solution was that in the calculation of Vss, MRT is used and started from the beginning of the study and not from the start of infusion (Day 5 of the DDI) of the compound. So the MTR was >96h.

[2019-08-12 14:23] msevestre commented on #1297
Well this is how it works. You can group them in folders per individual using metdata in an automated fashion.

@Yuri05 I'd suggest to close the issue as allowing duplicated time values will cause tremendous pain along the way

[2019-08-13 12:27] Yuri05 commented on #1297
I agree :)

[2019-08-16 07:24] wilbertdew opened #1306 "Missing line of identity in log predicted vs observed plot"
Hi All,

I recently had a missing line of identity in my observed vs predicted plots on log scale of a parameter identification. I found this was due to negative values in the data that were meant to represent below LLOQ values. While I am aware I should not have these negative values in the data, a line of identity can still be drawn in such case, or a warning might be helpful. I am using PK-Sim

[2019-08-22 14:59] prvmalik opened #1307 "Ongoing Problem Loading Old PK-Sim Files"
Hi all,

After 1-2 updates I am frequently unable to open old Pk-Sim files. This is an example of the error. I'm wondering if anyone can provide insight. In the meantime I will be trying to reinstall an older release.

Application:
PK-Sim® 8.0.22

disk I/O error
disk I/O error

Stack trace:
[code]

[2019-08-22 20:31] msevestre commented on #1307
Looking at the stack trace, it does not look like a PKSim error. It seems that the app cannot access the file (Disk I/O error).
Is the project file located on an external drive? Is your internet/network connection unstable?
Can you try to copy the project to your local hard drive and see if you can open it from there?

Our test suites open projects from version 5.x and above (over 10 releases). I

[2019-08-22 21:07] prvmalik commented on #1307
Thank you for the helpful insight Michael. This narrows it down to a problem with the Egnyte cloud storage drive where the project files are located. Copy and pasting the project file from Egnyte to an HDD or SSD doesn't resolve the error, but it does prompt a slightly different error:

Application:
PK-Sim® 8.0.22

could not initialize a collection: [PKSim.Infrastructure.Serialization.ORM.MetaData

[2019-08-22 21:56] msevestre commented on #1307
I wonder if this is due to egnyte. You should be able to recover an older version of a file with egnyte.
I think however that there is a bug in pksim as we had this very error reported by someone not so long ago. Maybe you could send me the file per email and I could try to see if I can recover it (next week;;))

[2019-08-23 12:45] wilbertdew opened #1313 "Instability PK-Sim"
Hi All,

I am working on an expanding PK-Sim project that contains now around 30-40 compounds, the same amount of observed data sets and similations and a similar amount of parameter identifications. The last days, PK-Sim crashes regularly and any unsaved work up to that point is lost. I need to save every quarter or so to minimize loss of work. Does anyone have experience with this or knows the l

[2019-08-27 15:46] Incei opened #1309 "All PK-Sim created tables should be adjusted to get right indentation level ('#' issue)"
All input-tables for buildingblocks and simulations generated by PK-Sim start with level 1 '#' causing it to become chapters. This should be changed to match the section structure of the report (e.g. ###)

[2019-08-27 15:47] Incei opened #1308 "remove last '|' from tables created by PK-Sim"
remove last '|'  from tables created by PK-Sim, causing an additional empty column in tables.

[2019-08-28 00:34] msevestre opened #1310 "Remove SimulationResultsCreator when net standard branch of core is merged"
and tests

[2019-08-28 12:44] AndreDlm opened #1311 "Cancelling observed data snapshot import throws error"
![Untitled](https://user-images.githubusercontent.com/26541603/63856564-39049f80-c9a2-11e9-81bd-6b9b95475e02.jpg)

Application:
PK-Sim® 8.0.22

Object reference not set to an instance of an object.

Stack trace:
[code]

[2019-08-28 12:46] Yuri05 opened #1312 "Allow Import/Export of BuildingBlocks to snapshot in "standard" mode"
Currently only _whole project_ can be exported to snapshot.
Building blocks or simulations can be exported to snapshot/imported from snapshot in "developer" mode only.

For _simulations_ it's ok and I would keep it AS IS.
However I don't see any reason why we should not allow this functionality for all _building blocks_ in the "standard" mode.

Creating/changing building block snapshots via script

[2019-08-28 12:46] Yuri05 commented on #1312
@sfrechen @AndreDlm @InceI @tWendl FYI

[2019-08-28 12:55] Yuri05 commented on #1312
I would not create a schema as well. Just allow Import/Export.
There are quite a few use cases for this (@sfrechen @AndreDlm you might comment on this)

[2019-08-28 14:56] AndreDlm commented on #1312
I think that's a very important feature - it enables e.g. the import of formulation and administration building blocks with polydisperse user-defined particle size distribution. Fully in favor of that.

[2019-08-28 15:34] AndreDlm commented on #1312
Of course you can do that also in PK-Sim, but it's much easier to do this kind of stuff in an automated way outside of PK-Sim (e.g. in R) and then import the JSON file

[2019-08-28 19:10] StephanSchaller commented on #1313
@wilbertdew, are your compounds completely different types of compounds or analogs (i.e. possibly most of the ADME properties are similar/the same and only some differ)?
Just a thought: if the latter is the case, you could just create a "representative generic" PK-Sim model for the class of analogs and then move to R to run batches of simulations or PIs by then explicitly specifying the previously

[2019-08-29 07:37] PavelBal commented on #1312
Sounds like a great feature!

[2019-08-30 15:19] prvmalik commented on #1307
Lost another one - this one built in 8.0 and saved on an SSD.

Application:
PK-Sim® 8.0.22

Value cannot be null.
Parameter name: key

Stack trace:
[code]

[2019-08-30 15:23] msevestre commented on #1307
@prvmalik This is something different. I believe this has to do with some steps that you are doing that are creating this bug.
This is clearly a bug in PKSim and I'd like to understand what's happening
* Can you please send me the file (via email if it can't be public please!)
* Describe the steps that were taken prior to file crashing

I'll investigate and see what's the reason for the bug and ma

[2019-09-03 07:51] regulus92 commented on #1313
Yes, I encounter this problem from time to time also. Maybe my Chinese language environment of Windows matters. What I have done by far is save the work frequently.

[2019-09-03 19:01] wilbertdew commented on #1313
Thank you all for the help! @msevestre, it was mainly having a few parameter identifications open that seemed to cause the problem. I have 8 GB RAM on my system. I saw in the task manager that this was indeed filling up quickly. The file was 50 MB. I have now separated the file for modalities and species, which seemed to solve the problem, but makes comparisons maybe a bit less easy to perform. An

[2019-09-04 16:34] Yuri05 opened #1314 "Deactivated processes activated after reimport from snapshot"
In hte project attached GFR in compound was defined, but deactivated in the simulation configuration
[P3.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/3575570/P3.zip)
![grafik](https://user-images.githubusercontent.com/25061876/64273740-42fa4580-cf42-11e9-9c2f-8c6853533511.png)

When exporting to snapshot and reimporting: GFR is active.
![grafik](https://user-images.githubusercont

[2019-09-05 00:04] msevestre opened #1315 "Add conversion for QuantityPKParameter xml from list to float"
Required after merging of OSPSUite.Core net standard (array are better for R).

[2019-09-10 13:09] msevestre opened #1316 "Remove Core Population management"
As it was added to OSPSuite.Core
https://github.com/Open-Systems-Pharmacology/OSPSuite.Core/issues/605

[2019-09-10 13:18] msevestre commented on #1316
- [ ] ParameterValue
- [ ] RandomValue
- [ ] ParameterValuesCache
- [ ] ParameterValuesCacheSpecs

[2019-09-13 19:29] msevestre opened #1317 "Add test for population count when importing results from file"
This won't be implemented in core and this needs to be added when the code is merged

       //last but not least, check that the number of individuals in the simulation matches the simulation results
               var importedCount = results.SimulationResults.Count;
               var expectedCount = expectedNumberOfIndividuals;

[2019-09-16 13:46] msevestre commented on #1316
Everything related to import of results (Constants, IndividualResultsImporter etc..)

[2019-09-17 00:22] AParisotto opened #1318 "Volume distribuition"
Hello everyone, I would like to know how to add the volume distribution parameter, this parameter related to the compound.

[2019-09-18 18:22] msevestre commented on #1309
I think we can read that actually from the section structure instead of hard coding ###

[2019-09-19 08:50] #1308 closed

[2019-09-19 08:50] #1309 closed

[2019-09-21 19:36] Yuri05 opened #1320 "Cannot confugure or clone simulation after renaming of Administratio Protocol"
If simulation has the same name as administration protocol used in it: after renaming of the administration protocol simulation cannot be reconfigured or cloned anymore.
![grafik](https://user-images.githubusercontent.com/25061876/65378331-2aff2180-dcb7-11e9-8e81-624e05505313.png)

To reproduce: in the project attached rename the administration protocol from `aa `to `bb `and try to reconfigure the

[2019-09-21 19:49] Yuri05 opened #1321 "Empty history command description"
If a target organ of user defined application is changed: the description of the corresponding history command is _sometimes_ empty.
It seems to happen in the cases where old target compartment is not available in the new target organ.

E.g. when `Target Organ/Compartment=ArterialBlood/Plasma` and I set `TargetOrgan=Lumen`: description is empty (Plasma is not availavle in Lumen).
![grafik](https:/

[2019-09-21 19:57] msevestre commented on #1320
Murphy's law or something....

[2019-10-09 15:09] msevestre opened #1322 "Clear Journal Session when workspace is closing"
This was done in Core but needs to be done in the main app.

[2019-10-10 12:48] Yuri05 opened #1323 "Value origin Japanese Population"
Now after Japanese population report was finally published (https://github.com/Open-Systems-Pharmacology/OSPSuite.Documentation/blob/master/Japanese_Population/Report.md):
we should update value origin for the Japanese population data in the PK-Sim database.

[2019-10-10 21:55] StephanSchaller commented on #1323
This looks nice! Well done!

Is there also a publication associated with this?
Can you also make an announcement on the release of the Report in the Forum?

[2019-10-11 00:23] teutonicod opened #1324 "Plasma clearance parameter"
Dear all,

In the unspecified liver clearance process in PK-Sim, the intrinsic clearance for the liver is calculated using several parameters, one of them being referred to as **Plasma clearance**. Do you know how this parameter is defined? In a simple model (IV bolus and only unspecified clearance) the value for this **Plasma clearance** does not coincide with the **Total body clearance** in the

[2019-10-11 00:23] msevestre commented on #1324
@Yuri05 @sfrechen Anything to change here? If not, please close the issue

[2019-10-11 00:32] LMFuhr opened #1325 "GFR variability in population simulations"
Dear PK-Sim community,
I am currently creating population simulations for my project. The populations described in the clinical study used for modeling are divided into groups based on their renal function (healthy, mild renal impairment, moderate renal impairment…). To recreate the reported populations, I want to specify a range for the GFR specific in my population simulations. Unfortunately, I

[2019-10-15 08:31] Yuri05 commented on #1324
From my point of view: not. @sfrechen please comment

[2019-10-15 11:00] sfrechen commented on #1324
I would say: yes.
Do not correct for f_cell in the CLspec equation.

[2019-10-15 11:33] Christoph27 commented on #1324
I agree, "Total Hepatic Clearance" is currently not doing what I would expect.

[2019-10-15 11:39] msevestre commented on #1324
As far as I remember, this was added on purpose a while ago to solve another problem. I don't have access to SVN anymore or youtrack but maybe the reason cab be found?

Was it to ensure that the same value of clspec  in a total plasma clearance process vs intrinsic clearance would produce the same results?

[2019-10-15 12:00] Christoph27 commented on #1324
Might be the reason (I was not involved in that previous discussion) but that is at the cost of an larger deviation of the resulting PBPK clearance from the clearance used as input parameter than needed. Why do we have then the "Total Hepatic Clearance" process at all?

[2019-10-15 12:39] teutonicod commented on #1324
I agree with @Christoph27 , I think we need to decide if at all keep this "Plasma clearance" entry in the "Total plasma clearance". Since it can be very misleading. If we think that a back calculation of the clearance with the well stirred model can be useful, I would propose to correct the formula and rename the entry. But I am still unsure on the utility of such a back calculation

[2019-10-15 13:54] msevestre commented on #1324
Yes this is correct
If we remove the f_cell, suddenly the same value of CL_Spec would produce two different curves, which is probably more of an issue don't you think?

As to why we have a Total Plasma Clearance process. They are a few reasons
# This was the input that we had in the old PKSim v4.x
# The concept of specific clearance is far from trivial and typically hard to understand for new user

[2019-10-15 14:44] Christoph27 commented on #1324
Just to clarify: I'm fine with having a "Total Hepatic Clearance" process which uses a well stirred model and a total plasma clearance as input. But what is currently implemented is something else (and probably not what we had in the old PKSim v4.x) with an additional factor ~1.5. I don't see the issue with "same value of CL_Spec would produce two different curves" since the enzyme concentration i

[2019-10-15 15:08] msevestre commented on #1324
Not really. If you define an enzyme in the individual with a RelExp of 1 in liver and a Ref Conc of 1 (similar to our undefined liver enzyme created), then the same Cl_spec would produce different results, which is definitely weird.

Again, I am happy to revert the changes. I just want to make sure that we understand that the changes were added for a specific reason.

[2019-10-15 15:13] Yuri05 commented on #1324
As far as I understood @sfrechen : [his suggestion](https://github.com/Open-Systems-Pharmacology/PK-Sim/issues/1324#issuecomment-462767363) was to remove `*f_cell` in the calculation `CLSpec=f(CL_pls,...)`. Thus, same CLSpec in plasma and in a enzymatic process would still lead to the same clearance rate.

[2019-10-15 15:34] msevestre commented on #1324
Even better then :)

[2019-10-15 16:32] teutonicod commented on #1324
@msevestre, what I meant was to correct the formula as suggested by @sfrechen , but I was also wandering if we should leave the naming _Plasma clearance_ as it is, since from my point of view, this is not clear at all.

From my understanding, the parameter _Plasma clearance_ is a back calculation, where a total hepatic clearance is used to calculate the intrinsic clearance, according to the equati

[2019-10-15 16:45] msevestre commented on #1324
I have the feeling we are not talking about the same parameter lol. the Plasma Clearance is an input.  This is not derived in any shape or form from other parameters

No opinion on that. This was named by our experts so I don't want to open a can of worms here :)

[2019-10-15 16:59] teutonicod commented on #1324
@msevestre, I agree, I also had the feeling we were talking about two different parameters (thatś why I clrarly stated the name of the parameter I was referring to ;-)). But this was the parameter my post was originally about, so I was hoping we could also solve this issue :-) (if we think that there is an issue to solve, of course).

Let's see what the other members think about the plasma clearan

[2019-10-15 17:02] msevestre commented on #1324
@teutonicod
![image](https://user-images.githubusercontent.com/1041237/66852897-03b11280-ef4c-11e9-9d02-1eab81dbcf19.png)

This is an INPUT parameter. No backcalculation. If this is the parameterm you mean, then I don't understand what you mean :)

[2019-10-15 17:08] teutonicod commented on #1324
Sorry, but I do not have PK-Sim with me, so I may have confused the parameters. I will check that tomorrow.

[2019-10-16 06:59] sfrechen commented on #1324
From my point of view, we just need to ajust the formula with regard to back calculation.
Naming etc. is fine for me. The process' name tells us that we assume that total plasma clearance equals hepatic plasma clearance.

Maybe a tooltip could be helpful to inform the user about the wll-stirred back calculation and its assumptions (but not necessary...).

[2019-10-16 07:26] Christoph27 commented on #1324
I agree with Sebastian regarding naming and a possible tooltip

[2019-10-16 07:26] teutonicod commented on #1324
From my point of view this was not very clear. But if it is just me, we can leave it as it is. Nevertheless I would strongly suggest updating the tooltip of the parameter Plasma clearence itself, since for now this is what we have :-)

![image](https://user-images.githubusercontent.com/11489621/66897287-f4d36a00-eff6-11e9-96e7-c5434d34909a.png)

[2019-10-16 07:28] tobiasK2001 opened #1326 "Unhandled exception with PK-sim and Windows"
Pk-sim just crashed with this note:
![image](https://user-images.githubusercontent.com/25585248/66897279-eedd8900-eff6-11e9-80b4-58ac41d6c326.png)

I was just trying to update a chart template to save some minor change in a comparison chart.
while reponing I realised that the app was still running in the background
![image](https://user-images.githubusercontent.com/25585248/66897368-26e4cc00-eff7-

[2019-10-16 12:56] msevestre commented on #1326
@tobiasK2001 Thanks for reporting. This looks like a memory pressure issue. We probably won't be able to reproduce. Please reopen if this happens again

[2019-10-16 12:56] #1326 closed

[2019-10-18 08:52] Yuri05 commented on #1326
Agree.
@tobiasK2001  You can also try to [increase max. amount of windows graphic handles](https://github.com/Open-Systems-Pharmacology/PK-Sim/issues/862#issuecomment-466048852) if the problem occurs again

[2019-10-18 10:27] tobiasK2001 commented on #869
Dear both,

I guess what you found Pavel is the reason, why the concentrations for e.g. itraconazole are mispredicted after day 4 (still rising) if only one meal event is given after e.g. at day 3 1 hour after itraconazole dosing. See screenshot and attached file. A cheap workaround seems to be to add a second meal event after the first with 0 calories to reset the pH-value. However that workaroun

[2019-10-18 16:03] msevestre opened #1327 "Population export: Replace RaceIndex and gender as number with actual string?"
At the moment, we export gender with 1 and 2 and Race with index in pop. My suggestion would be to move away from index as defined in the db and use strign instead. This would allow further classification in R (group by gender etc..) to be much more straighforward

[2019-10-18 16:03] msevestre commented on #1327
@Yuri05 thoughts?

[2019-10-18 16:04] Yuri05 commented on #1327
Fine with that.

[2019-10-18 16:10] msevestre commented on #1327
We would still support the old format when loading a pop in PKSim

[2019-10-19 14:13] PavelBal commented on #869
Unfortunately, in the current implementation, the gastric transfer parameters for a meal with caloric content = 0 do not equal the "fasted" state! So by adding a meal with caloric content = 0 does not reset all parameters to the state without any meal administration.

[2019-10-20 12:35] PavelBal commented on #1327
Yes!

[2019-10-20 19:41] msevestre commented on #1327
ok moving to v9 then as this will be very useful for R integration

[2019-10-21 07:07] tobiasK2001 commented on #1326
Thanks Juri,
I did a change in the regedit accordingly and will let you know, if the problem happens again.
Best, Tobias

[2019-10-21 07:46] tobiasK2001 opened #1328 "Validation report empty figure Page 119, 120, 127, 128"
Dear all,

I noticed that the created  simulation report for OSPS 8.0 says everything is valid. However some plots appear to be empty. Probably just the x,y axes had to be reset or so. Would be nice to see something here.

Best, Tobias

![image](https://user-images.githubusercontent.com/25585248/67185816-f7fb9b00-f3e6-11e9-9ef8-3e62c3e853f1.png)

![image](https://user-images.githubusercontent.com/

[2019-10-23 15:40] Yuri05 opened #1329 "PI: Error creating Confidence Interval after simulation replacement"
Steps to reproduce:
* Open the project attached [PI_CloneReplace.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/3763193/PI_CloneReplace.zip)
* Clone simulation **S1** to **S2**
* Open the PI and replace simulation **S1** with **S2**
* Try to create new Confidence Interval plot

The error below comes.

[code]
If the PI is restarted: after that ConfInterval plots can be created again

[2019-10-24 07:34] UlrichSi commented on #1329
It is important to keep the following workflow open:
1. Identify parameters
2. Automatically transfer parameters to the simulation(s) involved, but also keep the original simulation
 - which should be still clonable without the need of newly recreating it from the building blocks

[2019-10-24 08:21] AndreDlm opened #1330 "Export to snapshot / reimport in PK-Sim alters protein reference concentration"
The attached PK-Sim file contains a European Standard individual with 2 CYP3A4 enzymes (`CYP3A4` and `CYP3A4 1`), both loaded from the gene expression database with a reference concentration of 4.32 µmol/L each.
When exporting the file to Snapshot (attached) and re-importing it in PK-Sim, the reference concentration of  `CYP3A4 1` is set to 1 µmol/L.

[Alprazolam.zip](https://github.com/Open-Syste

[2019-10-24 08:57] UlrichSi commented on #1329
So we should think twice how and when to fix this bug in case it has side-effects on the afore mentioned discussion.

[2019-10-24 11:58] Yuri05 opened #1331 "Refresh problem: ontogeny factor"
Create an Individual and select parameter group Physiology/Ontogeny Factor
![grafik](https://user-images.githubusercontent.com/25061876/67483301-d5c38080-f665-11e9-95d0-8c671b2f32d2.png)

Now add an enzyme and go back to the Ontogeny Factor. Ontogeny factors of the new enzyme are not shown (also after switching to another parameter group and back).
Only after closing and reopening of the individua

[2019-10-24 15:39] prvmalik opened #1332 "Opportunity: Kidney Transporter Expression Data to be Integrated"
Hi all,

To my knowledge this is the first data that quantifies the expression of transporters in the kidney for all species (Basit et al., 2019, doi: 10.1124/dmd.119.086579). Units are presented in pmol/g kidney. This discovery is a first step toward being able to use in vitro transporter assay data to parameterize tubular secretion in a PBPK model.

Transporter assays are generally conducted usi

[2019-10-28 13:52] msevestre opened #1333 "Update to version 9.0 of OSPSuite.Core"

[2019-10-30 09:35] teutonicod opened #1335 "Add reference for T/2 calculation for in vitro clearance"
This entry refers to the issue #402 on the forum.
Can you please add the reference reported in the discussion in the respective field in the software, please?

Thanks a lot!

Donato

[2019-10-31 08:12] UlrichSi commented on #1335
Calculating a first order rate constant from the half-life by the formula k=ln(2)/t(1/2) is quite basic reaction kinetics knowledge. See, for example:
https://en.wikipedia.org/wiki/Half-life

[2019-10-31 08:29] teutonicod commented on #1335
@UlrichSi the reference I suggested to include is not about this transformation, but it is about the calculation of the intrinsic clearance. In this formula the T/2 (indeed often calculated with the basic formula you suggested) and the relative scaling factors for the in vitro experiment are used to calculate in vitro clearance. I think it would be important to keep trace of these formulas used in

[2019-10-31 08:42] UlrichSi commented on #1335
Ok, then I was indeed misled, Donato. I agree that it can't hurt to add helpful references.

[2019-11-04 20:47] msevestre commented on #1317
done in #1334

[2019-11-04 20:47] #1317 closed

[2019-11-04 20:48] msevestre commented on #1322
done in #1334

[2019-11-04 20:48] #1322 closed

[2019-11-05 08:22] PavelBal commented on #1332
Maybe move the issue to this repository: https://github.com/Open-Systems-Pharmacology/Protein-Abundance-Database

that it will not get lost between PK-Sim bug reports?

[2019-11-05 18:33] msevestre opened #1336 "Project conversion for Covariates"
IndividualCovariates => Covariates
Gender and Race are gone => should add the name of gender and race as defined in PKSim db instead

[2019-11-05 19:03] msevestre commented on #1336
IndividualPropertiesCache => IndividualValuesCache

[2019-11-06 20:23] #1333 closed

[2019-11-06 20:24] msevestre commented on #1327
This has been implemented in #1333
Project conversion required but now, Gender and Race are exported using their DB name as opposed to index

[2019-11-06 20:24] msevestre commented on #1327
Should we call the column Population BTW? Or are we happy with Race?

[2019-11-07 13:30] Yuri05 commented on #1327
I would say YES

[2019-11-07 13:42] msevestre commented on #1327
AGreed. I'll do it

[2019-11-07 21:40] #1336 closed

[2019-11-08 08:12] harishkaushikbugworks opened #1342 "SQL logic error no such table: SUMMARY_CHART"
Hello All,
Folowing is the issue iam facing

SQL logic error
no such table: SUMMARY_CHART

at System.Data.SQLite.SQLite3.Prepare(SQLiteConnection cnn, String strSql, SQLiteStatement previous, UInt32 timeoutMS, String& strRemain)
   at System.Data.SQLite.SQLiteCommand.BuildNextCommand()
   at System.Data.SQLite.SQLiteDataReader.NextResult()
   at System.Data.SQLite.SQLiteDataReader..ctor(SQLiteComm

[2019-11-08 13:03] msevestre commented on #1342
Are you trying to open a file that is not a PKSim file?

Please check. This error usually happens when the file is not one of our file

[2019-11-08 13:08] harishkaushikbugworks commented on #1342
It is an PKSIM file only may be versions are different

Regards
Harish

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Michael Sevestre <notifications@github.com>
Sent: Friday, November 8, 2019 6:33:53 PM
To: Open-Systems-Pharmacology/PK-Sim <PK-Sim@noreply.github.com>
Cc: Harish Kaushik Kotakonda <harish@bugworksresearch.com>; Author <author@noreply.github.c

[2019-11-08 13:35] msevestre commented on #1342
It also happens when you open a file that is being downloaded but the download is not finished

Can you zip the file and upload it here so that we can give it a look?

[2019-11-11 12:00] Yuri05 opened #1343 "Error importing from Snapshot: Key 'µg*h/ml' could not be found"
When loading from [this snapshot](https://github.com/Open-Systems-Pharmacology/Oxycodone-Model/blob/master/Oxycodone.json) (PK-Sim 8 Build 22)

[code]

[2019-11-11 17:04] #1316 closed

[2019-11-11 17:05] #1310 closed

[2019-11-11 17:06] #1327 closed

[2019-11-12 20:54] msevestre opened #1344 "Icon for individual should be set to species icon and not species name"
Otherwise, use defined species might not have a proper icon
https://github.com/Open-Systems-Pharmacology/PK-Sim/blob/develop/src/PKSim.Core/Model/IndividualFactory.cs#L77

[2019-11-12 20:55] msevestre commented on #1057
going to split this into two

[2019-11-12 20:56] msevestre opened #1345 "Make advanced Human models with Thyroid and Testes available in PK-Sim"

[2019-11-12 20:56] msevestre commented on #1345
see #1057

[2019-11-12 21:29] msevestre opened #1346 "Blood flow rate => lung has generic parmaeter with Tags?"
@Yuri05 Do you see a problem if I define a tag that would be implemented by all organs whose blood flow flows directly into lung?
That way we can use a sum formula, similar to body weight and have new organs (such as Thyroid) incorporated automatically

[2019-11-12 22:06] StephanSchaller commented on #1057
I see we need to speed up OSMOSES...

[2019-11-12 22:27] StephanSchaller opened #1347 "Use sum formula in base implementation where possible"
See e.g. https://github.com/Open-Systems-Pharmacology/PK-Sim/issues/531

This should also be done for:
- [x] Lung blood flow rate (see https://github.com/Open-Systems-Pharmacology/PK-Sim/issues/1346)
- [x] Organism|Endogeneous IgG|Endosome|Volume
- [x] Organism|Endogeneous IgG|Interstitial|Volume
- [x] Organism|Endogeneous IgG|Plasma|Volume
- [x] Organism|Endogeneous IgG|Lymph flow rate
- [x] Orga

[2019-11-12 22:28] msevestre commented on #1057
This is going to be implemented independently

[2019-11-12 22:33] StephanSchaller commented on #1057
So requiring no longer the "new model structure" @Yuri05 is mentioning above?

[2019-11-12 22:36] msevestre commented on #1057
This will be a DB Extension only. This is temporary until we have a more flexible structure

[2019-11-13 02:05] msevestre opened #1348 "Cleanup tags tables"
![image](https://user-images.githubusercontent.com/1041237/68726636-1856e980-0590-11ea-94f9-ec0935bc90b8.png)

Seems to be a lot of useless stuff there (historically this was potentially required but not anymore I believe)

/cc @Yuri05 ?

[2019-11-13 02:07] msevestre commented on #1347
@StephanSchaller I like this idea
We need however to decide, what criteria to use in order to build each formula
For example, `Organism|Endogeneous IgG|Endosome|Volume`
Which parameters will be part of this formula? (this needs to be expressed dynamically such as all parmaeter in a container with Tag xxx.)

This needs to be done for all formulas
If you could map that out, (of have someone do it...

[2019-11-13 13:00] SRuedesh opened #1349 "Issues regarding the table formulation implementation/documentation"
Dear OSPS community,

I stumbled upon an issue regarding the table formulation for tablet dissolution. The [OSPS documentation](https://docs.open-systems-pharmacology.org/working-with-pk-sim/pk-sim-documentation/pk-sim-formulations#table) states that

which lead me to the conclusion, that there would be no difference, whether or not I specified 0, 0 within the table. However, while testing out dif

[2019-11-13 15:51] StephanSchaller commented on #1347
@msevestre, I can (or get someone to) do this.

[2019-11-13 15:52] msevestre commented on #1347
Awesome

[2019-11-13 15:56] msevestre commented on #1349
Hey @sruedesh
Thanks for pointing that out. I'll have to investigate a bit and will get back to you shortly. It could be that the documention is outdated. In that case, you could even propose a change ;-)

I'll let you know

[2019-11-15 00:26] msevestre commented on #1348
I think we should remove display name and description.

[2019-11-15 00:27] msevestre opened #1350 "TAB_OBJECT_PATH"
Let's use string instead of those complicated path. It's very hard to reason about
e.g.
..\..\Liver
instead of 3 entries
..
..
Liver

why is this done like this?

[2019-11-15 09:26] Yuri05 commented on #1350
using full path makes ref integrity impossible. if we would use "..\..\Liver" instead of 3 entries and then rename Liver (container) to something else, we would have to go through all path entries and replace it manually.

[2019-11-15 12:15] Yuri05 opened #1351 "Concentration observer"
@msevestre Any idea why the "Concentration in container" observer is not just set to "..\Concentration" (concentration parameter) but has the same formula instead?
![grafik](https://user-images.githubusercontent.com/25061876/68942721-8fb39580-07a9-11ea-9110-0f943e82ea16.png)
![grafik](https://user-images.githubusercontent.com/25061876/68942818-c5587e80-07a9-11ea-99f3-fbdf3f20716c.png)

[2019-11-15 12:20] Yuri05 commented on #1351
so actually I would expect that the observer is defined as below and not by duplicating the formula.
(for the special cases like concentration in lumen we have **additional** observers; thus for the "standard" concentration observer I don't see any use cases where we could not just set it = concentration parameter)
![grafik](https://user-images.githubusercontent.com/25061876/68943062-6a735700-07aa

[2019-11-15 14:10] msevestre commented on #1346
@Yuri05 Goingto implement it
The TAG will be SPLANCHNIC

[2019-11-15 14:10] msevestre commented on #1346
https://www.sciencedirect.com/topics/medicine-and-dentistry/splanchnic-blood-flow

[2019-11-15 14:12] msevestre commented on #1351
@Yuri05 Could it be because of the numerical issue with observers? Maybe this is not relevant anymore but at some point it might have been ?

[2019-11-15 14:12] msevestre commented on #1350
In my opinion, this does not justify the pain
How often do we rename organ or containers? NEVER
How often do we have to create path like that often. This makes it very hard when you have to do it by hand as I just did :)

[2019-11-15 14:44] Yuri05 commented on #1346
@msevestre
I would suggest NOT to introduce a new tag. Lung blood flow can be realized with existing tags e.g. like this:
![grafik](https://user-images.githubusercontent.com/25061876/68951495-7d902200-07be-11ea-8720-07decf0f7766.png)
That's how it would look like in the simulation with the new definition
![grafik](https://user-images.githubusercontent.com/25061876/68951577-ab756680-07be-11ea-8a57-

[2019-11-15 14:46] Yuri05 commented on #1346
now every new organ having the tag "TissueOrgan" and a blood flow rate parameter would be automatically considered in the lung blood flow

[2019-11-15 14:48] Yuri05 commented on #1351
No, setting Observer = f(Parameter) is save. The opposite direction would be dangerous.

Maybe.. It's not wrong anyway, just not optimally solved due to the formula duplication.

[2019-11-15 14:54] msevestre commented on #1346
works for me!

On Fri, Nov 15, 2019 at 9:46 AM Juri Solodenko <notifications@github.com>
wrote:

[2019-11-15 17:56] msevestre commented on #1351
@Yuri05 Should I just update it?

[2019-11-15 18:14] msevestre commented on #1346
I don't get it? Do you want me to have to add the tag TissueOrgan to all Blood flow rate parameter? I don't understand this criteria
Should not that be in container TissueOrgan?

[2019-11-15 18:24] msevestre commented on #1346
oh yeah I forgot that a parameter also has the parent tags now :)

[2019-11-16 00:56] Yuri05 commented on #1351
yes

[2019-11-16 10:58] StephanSchaller commented on #1350
I would be careful to change this. I prefer the generic concept  that allows automated renaming.

[2019-11-16 13:04] msevestre commented on #1350
We are not changing anything. But as part of osmoses, we'll have to review
some of the concepts. This one is definitely one that always felt odd to
me. Maybe we can at least find an easier way

On Sat., Nov. 16, 2019, 5:58 a.m. esqlabs GmbH, <notifications@github.com>
wrote:

[2019-11-16 15:00] msevestre commented on #1351
ok done in #1352

[2019-11-16 15:23] #1351 closed

[2019-11-16 23:38] msevestre commented on #1343
This is the full debug log
[code]

[2019-11-17 20:50] msevestre commented on #1343
Smallest reproducible version
[Oxycodone.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/3856074/Oxycodone.zip)

[2019-11-17 21:47] msevestre commented on #1343
@Yuri05 I could reproduce for the first warning by adding a parameter as User Defined Variability and THEN removing the parameter for the simulation
We could add  a step after configure to remove all parameters that do not exist anymore

[2019-11-17 22:49] msevestre commented on #1343
Adding the step for configuration is quite complicated because of the undo

[2019-11-17 23:24] msevestre commented on #1349
@SRuedesh So I double-checked the code
I think the documentation is indeed misleading

What is meant is:  (0,0) is present by **default**

As you can see, if I create a NEW table formulation, it automatically looks like so

![image](https://user-images.githubusercontent.com/1041237/69015904-f03c0180-0966-11ea-95f9-8c98c905334b.png)

with a (0,0) point added automatically. Why would you want to rem

[2019-11-18 13:53] msevestre commented on #1344
this was fixed with #1354

[2019-11-18 13:53] #1344 closed

[2019-11-18 13:53] msevestre commented on #1342
Assuming you got this sorted out. Closing. Please reopen with the file attached if you need more help

[2019-11-18 13:53] #1342 closed

[2019-11-18 16:37] itroconiz opened #1356 "Set fu as a function of two proteins"
The equation I would like to use in my PKsim model is:

fu=Kd1 x Kd2/(L1 x AAG x Kd2+L2 x Alb x Kd1+Kd1+Kd2)
Where AAG and ALB stand for concentrations of alpha1-acid glycoprotein, and albumin, respectively.
L1 and L2 are scaling factor (known), and Kd2 equilibrium constants (known)

[2019-11-18 17:18] StephanSchaller commented on #1356
You would have to move to MoBi to do this. Is this an option for you?
There, you could define "Fraction unbound (plasma, reference value)" (a Parameter of your molecule) as a formula.
NOTE: this will also have an effect on your partitioning coefficient calculations!

Best,
Stephan

[2019-11-20 01:30] #1343 closed

[2019-11-20 01:33] msevestre commented on #1290
ok this will be implemented in V9

[2019-11-21 15:26] #1348 closed

[2019-11-22 16:11] sfrechen opened #1359 "Observers are not exported to snapshot and re-imported from snapshot"
Observers are not exported to snapshot and re-imported from snapshot

[2019-11-25 17:05] RodrigoCristofoletti opened #1360 "PK-Sim file not opening after adding a new compound imported from Github"
Application:
PK-Sim® 8.0.22

No row with the given identifier exists[OSPSuite.Infrastructure.Serialization.ORM.MetaData.MetaDataContent#9373]

Stack trace:
[code]

[2019-11-25 20:29] msevestre commented on #1360
@RodrigoCristofoletti Can you describe what you did so that we can reproduce the issue?

For example, I do not understand what "after adding a new compound imported from Github" means

Please follow https://github.com/Open-Systems-Pharmacology/Suite/blob/develop/CONTRIBUTING.md#reporting-a-bug

The more information we have to reproduce the issue, the more we'll be able to assist you and fix the pr

[2019-11-27 08:15] UlrichSi opened #1361 "Error when trying to export Working Journal to PDF"
To reproduce, open any project with a working journal, or create a working journal.
From the File tab, select "Print Preview", then "Export to" and select "PDF file".
Leave the options on default, click OK. Use the default file name to save.
The following error message is displayed:

`Cannot perform the specified task. The following library is missing: "DevExpress.Pdf.v18.2.Core, Version=18.2.7.0,

[2019-11-27 15:03] tobiasK2001 opened #1362 "AUCR and CmaxR wrong calculated in PL-Analysis if dose is changed in Simulation parameters"
A DDI simulation was created with linear CL processes. So AUCR and CmaxR should not change when doubling the victim dose. However, when victim dose is doubled in simulation Parameters, Simulation rerun and clicked in PK-analysis to rerun CmaxR and AUCR, the ratios have doubled.
If the original DDI simulation is cloned and the double victim dose is used in the clone, after Simulation rerun and clic

[2019-11-27 15:09] msevestre commented on #1362
Can you attach a project that reproduces the issue?

[2019-11-27 15:55] tobiasK2001 commented on #1362
I cannot attach the original one, but here is the problem reproduced with PK-Sim template BB.
As I used the Midazolam template the CL is not linear in this example. However the effect should only be slight and not skyrocketing when just doubling the dose. Other wise the Simulations were created as described above. While reproducing I had the feeling the problem could be connected to the fact that

[2019-11-27 16:27] msevestre commented on #1361
Yeah. A dll is missing it seems. We should ensure that we update the package once we update the DEvExpress version

[2019-11-28 12:47] PavelBal opened #1363 "Feature reqeust: Bi-directional active transports"
For transporter proteins, we can select "Influx" and "Efflux" (and "Pgp-like", whatever that means) as directions. However, many transpoters transport in both ways based on the concentration gradient.

Can this option be implemented?

[2019-11-28 19:32] ClaireGrube opened #1364 "Parameter Identification (Rate constant for endosomal uptake (global); hydrodynamic radius)"
Hey there,

I am currently on a project using the large molecule model setting in my simulations. However the default settings do not describe my data very well.
cmax is generally overestimated, while clearance is underestimated for almost every patient sample. That s why I used the parameter identification to fit the curves via "Rate constant for endosomal uptake (global)" individually to the pat

[2019-11-29 10:16] UlrichSi commented on #1363
I believe that should be possible - at least via MoBi, the transport equations can already be changed to have bidirectional transport.
The question is if a bidirectional transport is not easier to implement via a passive transport which is already present and where just its permeability coefficient may have to be changed. If you need asymmetric transport, the combination of increased permeability

[2019-11-29 10:53] PavelBal commented on #1363
Yes, everything is possible in MoBi...

Implementing a bi-directional transport via changes in passive diffusion is a) not really physiological, b) does not account for the different expression of the transporter in tissues (yes I can change the diffusion proportionality factor for each organ separately, but wow this is really against the idea of physiological bottom-up approach) c) not saturable

[2019-11-29 12:04] UlrichSi commented on #1363
Often, the experimental data consists of just these values: Background passive diffusion and the enhancing effect of pgp. PK-Sim appears to be configured to directly use such data.

If it is to be implemented, that method could make sense for the bidrectional active transport too. Knowing how the process is typically described by experimental data, I mean, and using exemplary data in the developme

[2019-11-29 17:16] msevestre commented on #1362
ok i see. you are changing the protocol IN the simulation .Sorry I missed that bit of info

[2019-11-29 20:36] msevestre commented on #1362
Ok found the issue. It will be fixed in the next version

[2019-11-29 20:37] msevestre commented on #1360
@RodrigoCristofoletti Could you get back to us so that we can understand the issue? We cannot fix a problem that we do not understand and therefore can't reproduce.
Thanks again

[2019-11-30 16:08] #1362 closed

[2019-11-30 21:50] msevestre commented on #572
@Yuri05 This is done right? Closing. Please reopen if not

[2019-11-30 21:51] msevestre commented on #1346
Reopening issue because the condition is not accurate.
I am really in favor of adding a new tag that describes what the formula does as opposed to messing around with NOT and Include etc..
@Yuri05 Unless there is a good reason not to add a tag that is physiologically accurate, (SPLANCHNIC) I am going to go ahead and do it

[2019-12-01 23:16] #1346 closed

[2019-12-02 07:53] PavelBal commented on #1346
I do not think `SPLANCHNIC` is the correct tag.

[2019-12-02 09:09] StephanSchaller commented on #1346
Why is it not correct to use the tag conditions @Yuri05 suggested?

I agree. Splanchnic only applies to gut, liver and spleen

[2019-12-02 14:29] msevestre commented on #1346
yes of course. SPLANCHNIC was just to account for the Q_pve part which is also a sum formula in disguise.

At any rate, I have solved it in a different way.
In general, having tag such as "TissueOrgan" on a parameter is not a good idea. It was required before because we did not have "InContainer" or "NotInContainer" conditions. My goal for new Formula is to be explicit about what they do instead o

[2019-12-02 16:39] StephanSchaller commented on #1346
Yes, this would be nice. However, you also have to consider, that if this becomes more, you might have to add a lot of tags to new organs? This might bring its own disadvantages.

[2019-12-02 16:40] msevestre commented on #1346
I don't see how. We have 20 organs and 2000 parameters. Now we duplicate all tags on most parameters so that we can do stupid stuff like setting "TissueOrgan" on a blood flow parameter.

But if you have an example of what disadvantage it could bring, please explain

[2019-12-02 16:45] StephanSchaller commented on #1346
What's the difference with "Splanchnic" that you added?... now you duplicate this as well?

[2019-12-02 16:47] StephanSchaller commented on #1346
Isn't "TissueOrgan" a tag you need anyway?

General rule ;-) not to make things more complex than required… but maybe I am misunderstanding what you did here ;-)

[2019-12-02 16:53] msevestre commented on #1346
I would like to have tag defined where they belong.
Having a parameter with the tag "TissueOrgan" is simply wrong because a parameter is not a TissueOrgan. This is something that we did because we had no other choices but in the future, especially if we redesign the DB for OSMOSES, we should make sure to clean that up as well

Again, as I said previously, I solved the problem in a different way. I

[2019-12-05 10:04] Yuri05 commented on #572
nope, still a TODO

[2019-12-05 10:10] Yuri05 opened #1367 "Curve on Y3 axis not shown in Log scale"
In the project attached there are 3 Y axes in the chart (Concentration, Amount and Fraction).
Fraction excreted to Urine is assigned to the Y3 axis. It is shown in Lin scale, however not in Log scale
[BugY3.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/3926207/BugY3.zip)

![grafik](https://user-images.githubusercontent.com/25061876/70225407-44a8f480-174f-11ea-911d-044592049592.png

[2019-12-09 20:53] msevestre opened #1369 "Update box whisker plot to use new box plot type"
![image](https://user-images.githubusercontent.com/1041237/70442057-85608080-1a63-11ea-904b-2c2eaa039837.png)

Finally @Yuri05

[2019-12-09 20:53] msevestre commented on #1369
This is now possible with the update devexpress component v19.4 that v9 is using

[2019-12-09 22:04] StephanSchaller commented on #1369
Nice!

[2019-12-09 23:30] msevestre commented on #1369
yep. Looks awesome indeed

[2019-12-10 10:10] Yuri05 opened #1370 "Simualtion named as "standard" container"
If I try to create a simulation named e.g. "Organism" or "Neighborhoods" an _Object reference not set_ is thrown. An explicit message would be better.

Also it's possible to give a simulation one of the existing enzyme names (e.g. "CYP1A2"). Such a simulation can be created in PK-Sim. If exported to MoBi, it then crashes when configuring etc.

[code]

[2019-12-12 16:07] msevestre opened #1371 "Add PKSim.R to support create individual and population workflows"

[2019-12-16 04:49] rhishi24niper opened #1373 "Unable to perform parameter identification"
I am trying to perform parameter identification for my simulation, but I am having issues with adding simulation for parameter identification. When I am selecting "Add Simulation" for "Parameter Identification" there is no simulation file in the "Select Simulations" window. See attached screenshot.
[Simulation parameter identification issue.docx](https://github.com/Open-Systems-Pharmacology/PK-Sim

[2019-12-16 12:15] Yuri05 commented on #1373
Parameter Identification is currently possible only with **Individual** simulations.
In your project there is only one **Population** simulation, that's why the selection dialog is empty

[2019-12-16 16:39] rhishi24niper commented on #1373
Got it. Thanks.

[2019-12-16 16:39] #1373 closed

[2019-12-16 18:59] rhishi24niper opened #1374 "Array vs RT-PCR vs EST"
Hi, I am learning PBPK. I was wondering which database (Array, RT-PCR or EST) one should use to add an expression of the protein. Is there any preference?

[2019-12-16 19:08] StephanSchaller commented on #1374
RT-PCR is considered the most precise, but has only a fraction of the entries of the others.
In any case I would always also look for alternative sources if available (e.g. literature) to cross-validate the database entries.

[2019-12-18 20:52] #1371 closed

[2019-12-19 13:00] tobiasK2001 commented on #981
This bug is still present in the Rifampicin model loaded from here:
https://github.com/Open-Systems-Pharmacology/Rifampicin-Model.
Please reopen that issue!
This can lead to unnecessary confusion.
Interstingly the Rifampicin template available from PK-sim 8.0 is still a slightly differenet Version compared to Hanke et al 2018. This should be consolidated but without the bug;-)

[2019-12-19 17:52] Yuri05 opened #1375 "Failing test"
`When_creating_a_population_simulation_with_the_standard_building_block_and_iv_bolus_for_all_populations.should_be_able_to_simulate_the_simulation` fails

[code]

The reason is: **test** populations created by `DomainFactoryForSpecs.CreateDefaultPopulation` return `NaN`-Arrays for Weight **for all animal populations**.
Then the initial dosis in the corresponding test cannot be calculated.

![grafi

[2019-12-19 17:58] msevestre commented on #1375
This has not changed between v8 and v9. So something has changed down the
line no?

On Thu., Dec. 19, 2019, 12:52 p.m. Juri Solodenko, <notifications@github.com>
wrote:

[2019-12-19 18:27] Yuri05 commented on #1375
No idea. Passing BW=Nan is not good anyway. (actually BW shouldn't be passed to the pop calculation at all??)

[2019-12-19 18:53] msevestre commented on #1375
No idea why this breaks suddenly. We'll check it out

On Thu., Dec. 19, 2019, 1:27 p.m. Juri Solodenko, <notifications@github.com>
wrote:

[2019-12-20 15:34] ClaireGrube opened #1376 "Overwrite of MoBi-Export to PK-Sim by User defined variability?"
Dear all,

I have some troubles with the export of a parameter. I have defined a time dependency on that parameter in MoBi using a formula in "Parameter Start Value" like this: Time>x?a:b
It all works fine in MoBi, however when I export it into PK-Sim I think the User defined variability is overwriting the previously defined equation in MoBi.
So, is there a possibility to define a variability dire

[2019-12-20 15:42] msevestre commented on #1376
@ClaireGrube If you have defined some user-defined variability, you need to remove it indeed.
Or are we talking about a parameter defined in the population? In that case, you need to remove it from the population. This can be easily done by exporting the population to CSV, removing the column matching the parameter of interest, and reimporting the population from CSV.

If you can attach an example

[2019-12-26 19:41] FloSIMON opened #1377 "Error when opening compound template"
Dear all,
I can not open my compounds templates anymore, while I can open those of other building blocks.
Best regards,
Florian

Application:
PK-Sim® 8.0.22

There is no row at position 0.

Stack trace:
[code]

[2020-01-05 14:30] msevestre commented on #1377
@FloSIMON

Can you share the template database with us so that we can take a look? Location of the template database can be found in your user settings

[2020-01-05 14:32] msevestre commented on #1376
@ClaireGrube Closing. Please reopen if you need more help. Also I'd suggest asking questions in the Forum for greater visibility

[2020-01-05 14:32] #1376 closed

[2020-01-09 22:47] #1375 closed

[2020-01-13 18:55] msevestre commented on #1360
@RodrigoCristofoletti Going to close because we did not hear from you in over 5 weeks. Please reopen with the required information if possible

[2020-01-13 18:55] #1360 closed

[2020-01-13 19:56] msevestre commented on #1315
This is done alreayd

[2020-01-13 19:56] #1315 closed

[2020-01-14 15:35] msevestre opened #1380 "Fix failing population tests"

[2020-01-15 20:46] msevestre opened #1381 "Parameter Identification: Add the possibility to export the optimized parameter values into a new simulation"
At the moment, it is possible to transfer the optimal values into an existing simulation. However, it could  be useful to create a clone of the optimized simulation where the optimized parameter values would be set. That way, it would be very easy to compare various optimization results

[2020-01-15 20:47] msevestre commented on #1381
/cc @Yuri05

[2020-01-16 15:17] teutonicod opened #1382 "Range plot is different in population comparison"
Dear all,
I have made two range plots in PK-Sim, for two different populations. I wanted to put the two graph on the same plot for comparison, so I tried the population comparison option.
When making the comparison one of the two plot changed, making a strange shape. I think this can be related to the binning of the weights, but in both simulations I used the same population (--> same weights). Yo

[2020-01-17 12:14] msevestre commented on #1382
This is a bug in PK-Sim

[2020-01-17 12:15] msevestre commented on #1382
here https://github.com/Open-Systems-Pharmacology/PK-Sim/blob/develop/src/PKSim.Core/Services/RangeChartsDataCreator.cs#L68

[2020-01-20 12:22] #1382 closed

[2020-01-20 12:23] msevestre commented on #1380
Fixed with #1383

[2020-01-20 12:23] #1380 closed

[2020-01-20 12:24] msevestre commented on #1377
@FloSIMON Closing. Please reopen with the required info so that we can reproduce the issue. It is very hard for us to fix a bug if we have no way to reproduce it. Thanks

[2020-01-20 12:24] #1377 closed

[2020-01-20 12:46] msevestre opened #1384 "Remove organism from path in time profile (Population)"

[2020-01-20 15:28] msevestre commented on #1384
Alos remove simulation name when comparing population

[2020-01-20 16:17] Yuri05 opened #1386 "Remove simulation name from display path in individual simulation charts"
At the moment default display path of a simulated curve always starts with a simulation name in individual simulations.
![grafik](https://user-images.githubusercontent.com/25061876/72741721-816a6700-3ba8-11ea-9b82-1298b1762f5e.png)
This was done to distinguish between curves in individual simulation **comparison** charts. Here, adding simulation name makes totally sense and must be kept as default

[2020-01-20 16:42] msevestre opened #1387 "Add simulation name as default field for when comparing population simlations"
Group by color by default

[2020-01-20 17:00] #1384 closed

[2020-01-20 17:00] #1387 closed

[2020-01-20 18:42] StephanSchaller opened #1388 "Error when naming Simulation "Mean""
There seems to be some "Path" issues when a simulation is named "Mean" when creating a new simulation:

Project attached: Just create a Sim and call it "Mean" in attached project (but any project works, here).

[NamingSim_Mean.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/4087477/NamingSim_Mean.zip)

PK-Sim®

Distributed Parameter 'Hematocrit' with path 'Mean|Organism|Hematocrit'

[2020-01-21 07:35] Yuri05 commented on #1388
Relates to #1370

[2020-01-21 13:00] AndreDlm opened #1389 "Deletion of MoBi-imported simulation from PI possible"
Following the subsequently described workflow, PK-Sim throws the error message below. I am not sure how to interpret it and where the error is exactly located. What I did is:

- Build simulations in PK-Sim
- Export a simulation to MoBi, add a new molecule/reaction and re-import the simulation to PK-Sim; the project file can be found [here](https://github.com/AndreDlm/Erythromycin-Model)
- Run a PI

[2020-01-21 14:02] msevestre opened #1390 "Improve Ontogeny export"
see https://github.com/Open-Systems-Pharmacology/Forum/issues/448

[2020-01-21 14:55] #1386 closed

[2020-01-21 14:57] msevestre commented on #1388
weird

[2020-01-21 15:06] msevestre commented on #1388
not sure it's related to be honest.

[2020-01-21 20:08] msevestre opened #1392 "R API Create Individual: Returns an object with two lists"
required for https://github.com/Open-Systems-Pharmacology/OSPSuite-R/issues/253

[2020-01-22 09:48] Yuri05 commented on #1389
I think it has nothing to do with the MoBi simulations (in your project they are not part of the PI anyway). It's something in the PI itself which prevents importing it from the snapshot

[2020-01-22 10:00] #229 closed

[2020-01-22 10:06] #259 closed

[2020-01-22 11:22] msevestre commented on #1389
There is no way that the simulation can be recreated from snapshot. An error/warning should be shown when exporting to snapshot that the project won't be valid anymore

[2020-01-22 11:34] Yuri05 commented on #1389
As long as MoBi simulations are part of the project, Export to snapshot stops with an error (as expected).
![grafik](https://user-images.githubusercontent.com/25061876/72890885-3f116900-3d13-11ea-93fc-4e22a0c99c90.png)
After 2 MoBi simulations are removed from the project, it can be exported to snapshot, but reimport crashes during recreation of PI.

[2020-01-22 11:59] msevestre commented on #1389
Oh I see. Is it possible to delete a normal simulation from a project when used in a PI? (E.g would we have the same behavior when taking Mobi out if the picture?)

If yes the snapshot reimport needs to be more resilient

[2020-01-22 14:54] Incei opened #1394 "Copy simulation name to simulation title from display path in individual simulation charts"
Based on issue #1386, I would propose in addition remove the simulation title from display path, copy this name over to the simulation 'title' description.

In this way the long-name in the display path will be reduced, without losing the simulation description, and would replace the 'Time profile analysis' standard text to the actual analysis name.

That would be great!

[2020-01-22 15:06] Incei commented on #1394
![image](https://user-images.githubusercontent.com/25530079/72905644-2748dd80-3d31-11ea-930e-5e9efd08f775.png)

[2020-01-22 15:07] Incei commented on #1394
so normally this is empty and when creating e.g. qualification report, this will be filled in with 'Time profile analysis'

[2020-01-22 21:21] #1392 closed

[2020-01-29 21:36] msevestre commented on #440
Proposed implementation here https://github.com/Open-Systems-Pharmacology/OSPSuite.Core/pull/712#pullrequestreview-350437878

[2020-01-29 21:36] msevestre commented on #440
@Yuri05 FYI

[2020-01-30 10:14] shbae1211 opened #1398 "It should not be possible to use a TableFormulation without any point"
Hello.
I'm a beginner of using PK-sim and it may be a technical problem.
After I clicked 'run' button for simulation, there was an error massage pop-up.

Does anyone have great idea solving this problem?

![image](https://user-images.githubusercontent.com/48671465/73440466-aaeb7580-4394-11ea-96b0-03011a62eda6.png)

[2020-01-30 10:39] PavelBal opened #1396 "Improve error message when a table formulation without any entries is selected"
See https://github.com/Open-Systems-Pharmacology/Forum/issues/453

The current error is of no help at all. Also, the reference to "systems-biology.com" is outdated?

[2020-01-30 12:37] msevestre commented on #1396
It should not be possible to create a table without point in the first place

On Thu., Jan. 30, 2020, 5:39 a.m. Pavel Balazki, <notifications@github.com>
wrote:

[2020-01-31 01:52] msevestre commented on #1398
@shbae1211 I am quite curious. How did you manage to create a  formulation without ANY point any it? What was your workflow ?

[2020-01-31 02:08] shbae1211 commented on #1398
@msevestre  That was a mistake. I made several formulations tab in Building Blocks without templates and chose wrong formulation tab. I am learning how to use PK-Sim by myself finding open-source materials.

[2020-01-31 02:14] msevestre commented on #1398
@shbae1211 Yeah no problem. But it's impossible to create a table formulation without a point (e.g the OK button is disabled) .So how did you do it :)

[2020-01-31 02:16] msevestre commented on #1398
@Yuri05 I have added a check here but still :)
![Uploading image.png…]()

[2020-01-31 02:41] shbae1211 commented on #1398
@msevestre  Oh, I understood your point.

This is my wrong formation (tablet) tab..

![image](https://user-images.githubusercontent.com/48671465/73507696-23961480-441d-11ea-8823-309ab2ab419a.png)

And OK button is available in 'Simulations'. and after I clicked the button, there was no error massage,, however 'run' is not available.

![image](https://user-images.githubusercontent.com/48671465/7350

[2020-01-31 07:45] Yuri05 commented on #1398
@msevestre

E.g. create a table formulation first, then open it for editing and remove all points.

[2020-01-31 22:38] #440 closed

[2020-01-31 22:38] #1398 closed

[2020-01-31 22:39] msevestre commented on #1396
The schema is now gone anyways. Plus now it's not possible to create such a formulation
Fixed with #1397

[2020-01-31 22:39] #1396 closed

[2020-02-04 16:59] msevestre commented on #1330
Because we do not save the relexp query (rather the relexp expression value), I'd suggest to `always` save the global parameters in snapshot (RelExp and T1/2s). We hardly have any default value anyways and this would make the whole experience much cleaner and predictable

[2020-02-04 17:04] Yuri05 commented on #1330
@AndreDlm @sfrechen @TWendl do you agree?

[2020-02-04 19:22] msevestre commented on #1314
The same also for other processes it seems

[2020-02-04 23:17] msevestre commented on #1314
In fact, we have the same issues with interactions but to a lesser extent because we do not really map automatically I believe

[2020-02-05 00:07] #1314 closed

[2020-02-05 02:05] msevestre commented on #1320
I am not sure why you think this is a nasty bug @Yuri05 I have just spent 4 hours trying to fix it and this is not easy at all. Any reason why naming stuff the same makes any sense?

[2020-02-05 02:31] msevestre opened #1400 "Typing R starts help"
@Yuri05 Can you confirm this behavior or is it just me
Select a view in a grid view for example, type r
doc website is starting

[2020-02-05 02:32] msevestre commented on #1400
because of the way the help is linked, we should remove the contextual help I think. This is not really working as expected and is some ballast too

[2020-02-05 06:46] shbae1211 opened #1402 "Nonspecific binding"
Hello, again..
I cannot find where to enter a nonspecific binding parameter (fu,mic,,,etc) for CLint and/or Ki.
Is this value automatically calculated by physicochem (Log P) and reflected model?

[2020-02-05 08:28] Yuri05 opened #1403 "Remove "Export PI to Matlab""

[2020-02-05 08:52] Yuri05 opened #1404 "Individual simulation: "Export for Matlab/R""
Exported SimModel is not required by the R-Toolbox anymore.
However as long as SimModel-Xml structure does not change, it can be used by the last available Matlab-Toolbox version (which can be downloaded on demand by users)
(and is also helpfull for debugging in case of numerical issues or problems in SimModel).

Thus I think we should keep it but rename to something different (good suggestions ar

[2020-02-05 09:10] StephanSchaller commented on #1403
Will we have: "Export PI to R" (at some point in time)?

[2020-02-05 09:11] StephanSchaller commented on #1404
The new R-Package just requires a PKML of the simulation, right?

Why don't just call it "Save as xml"? ;-)

[2020-02-05 09:22] Yuri05 commented on #1403
There was no request for this so far ;)

[2020-02-05 09:26] Yuri05 opened #1405 "Population simulation: "Export population to csv" should export aging data as well"
At the moment only population.csv is exported, but not the aging data.
(compare to "Export for Cluster Computations")

[2020-02-05 09:30] Yuri05 opened #1406 "Remove/Modify "Population simulation: "Export for cluster computations""
At the moment it exports SimModel-XML, Population.csv, AgingData.csv (if simulation was configured with aging) and outputs.csv (list of selected outputs).
![grafik](https://user-images.githubusercontent.com/25061876/73828888-561b8500-4802-11ea-8ed5-8bd29ca04083.png)

In case we would like to process a pop simulation with the new R-Toolbox
* pkml is exported by "save simulation to pkml"
* populatio

[2020-02-05 09:50] StephanSchaller commented on #1406
Don't you need a script here, to execute pop-sims?
Maybe we should export a compilable bundle that runs the simulation and creates plots in R (via TLF-package)?

[2020-02-05 09:54] Yuri05 opened #1407 "Add "Export to C++ code""
Individual/Pop-Simulations: add "Export to C++ code" (or find a better name) in developer mode.

[2020-02-05 10:00] Yuri05 commented on #1406
Executing pop-sims is pretty straight-forward in the R-Toolbox (however aging is not supported yet? @PavelBal @msevestre )

Would be nice indeed.. however I wouldn't do it in v9 (there are enough more urgent TODOs here :))

[2020-02-05 10:03] Yuri05 opened #1408 "Population simulation: "Import simulation results""
Is it compatible with the output of the new R-Toolbox?
If no: adjust the toolbox? Or remove/temporarily deactivate this functionality?

[2020-02-05 10:04] Yuri05 opened #1409 "Population simulation: "Import PK-Analyses""
Is it compatible with the output of the new R-Toolbox?
If no: adjust the toolbox? Or remove/temporarily deactivate this functionality?

[2020-02-05 10:19] #1320 closed

[2020-02-05 10:35] Yuri05 commented on #1400
Cannot reproduce with PK-Sim 8. Did you try with 8 or 9?
Happens with any grid view or some particular?

[2020-02-05 10:42] PavelBal commented on #1406
What does aging have to do with popSim, cant an individual simulation have aging, too?

Either way, we did not look into it at all. I guess if an individual simulation has been created with aging and exported to pkml, it will work. But creating a new individual with the aging property is probably not possible - the same would go for populations. We have to think how to export/generate aging table

[2020-02-05 10:42] StephanSchaller commented on #1406
Should I create an issue in PK-Sim and MoBi Repo?

[2020-02-05 12:00] Yuri05 commented on #1406
Yes.

You just answered your question yourself: for individual simulations aging parameters will be exported as part of pkml (table parameters). No additional inputs are required then.
For population simulations with aging: those table parameters must be overwritten with table (aging) parameters of other individuals.

Yep. Open new issues for this: https://github.com/Open-Systems-Pharmacology/OSPS

[2020-02-05 12:29] msevestre commented on #1408
Should be compatible

[2020-02-05 12:31] msevestre commented on #1400
No please try with 9. 8 works for me

[2020-02-05 15:28] msevestre commented on #1405
Aging data are only created when combined in a simulation no?

[2020-02-05 15:31] msevestre commented on #1408
@Yuri05 I should ask: Why do you think it won't be compatible?

[2020-02-05 15:33] msevestre commented on #1407
@Yuri05 What method should be called here?

[2020-02-05 15:46] Yuri05 commented on #1405
yes, exactly. It's about exporting population info from a population **simulation**.

[2020-02-05 15:47] Yuri05 commented on #1408
I don't know (and didn't try), so just wanted to be sure it is compatible. If yes: we can close the issue.

[2020-02-05 15:49] Yuri05 commented on #1407
this one:

https://github.com/Open-Systems-Pharmacology/OSPSuite.SimModel/blob/7a684877d4e1348b4de93f5d63424b5168403645/src/OSPSuite.SimModel/Simulation.cs#L620

[2020-02-05 16:36] Yuri05 commented on #1400
Yep, can reproduce with 9. What has changed since 8, something in DevExpress?

[2020-02-05 16:36] msevestre commented on #1400
probably...don't know what however... IT's highly annoying :)

[2020-02-05 17:20] Yuri05 commented on #1400
Annoying indeed. Happens not only in greeds but everywhere.

Interestingly, in PK-Sim 8 a tooltip for online help shows (F1) and in PK-Sim 9 (R).
![grafik](https://user-images.githubusercontent.com/25061876/73864678-5b002900-4842-11ea-8d22-5c0d3169eec0.png) _________ ![grafik](https://user-images.githubusercontent.com/25061876/73864709-67848180-4842-11ea-98a5-84ff31120abd.png)

[2020-02-05 17:22] msevestre commented on #1400
hum...maybe it's us then :) (me should I say)

[2020-02-05 17:35] msevestre commented on #1400
[code]

[2020-02-05 17:36] msevestre commented on #1400
und
[code]

[2020-02-05 17:36] msevestre commented on #1400
irgendwo ist was falsch

[2020-02-05 17:38] msevestre commented on #1400
![image](https://user-images.githubusercontent.com/1041237/73867306-75231280-4814-11ea-94e4-c25b0853e78e.png)

[2020-02-05 17:38] msevestre commented on #1400
yep.. Was verbockt

[2020-02-05 17:40] msevestre commented on #1400
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.keys?view=netframework-4.8

[2020-02-06 21:08] StephanSchaller opened #1413 "Feature: "Clear" Button for "Value Origin" Entries"
This Button should allow to reset the value origin entries to "empty"

[2020-02-06 21:09] StephanSchaller commented on #1413
or an "X"

[2020-02-06 21:14] #1403 closed

[2020-02-06 21:15] msevestre commented on #1404
I don't think we should keep it. This is going to be annoying at best and probably also confuse users
I would vote for removing the option. If people want to still use xml, they should stick with v8

[2020-02-06 21:16] msevestre commented on #1404
Therefore I will only allow the option using the dev mode for now

[2020-02-06 21:42] msevestre commented on #1408
It should be compatible. However someone should verify (oh...that would be you:))

[2020-02-06 21:42] #1408 closed

[2020-02-06 21:43] msevestre commented on #1409
Should be compatible

[2020-02-06 21:43] #1409 closed

[2020-02-06 21:45] msevestre commented on #1406
I think we should still have it because it conveniently exports everything. However we export pkml, and population files.

[2020-02-06 23:30] StephanSchaller opened #1414 "Feature: Auto-calculate weights in PI"
based on number of data points and (assumed) error in the data, weights should be calculated (via a button) if multiple datasets are used simultaneously

[2020-02-07 00:04] msevestre commented on #1414
Can you be a bit more explicit? I have no idea what you mean

[2020-02-07 00:40] #1406 closed

[2020-02-07 00:40] #1407 closed

[2020-02-07 16:31] StephanSchaller commented on #1414
Sometimes you fit wit multiple datasets, right? So you have measurements (time-concentration profile) for different outputs. Sometimes you have many data-points, sometimes less. Sometimes you have high values, sometimes low.
The PI does not normalize all of these aspects, right? So the error functionals from each of these outputs may differ significantly and it sometimes happens that one output ma

[2020-02-07 16:37] msevestre commented on #1414
right

Are they any algorithm for that? I know @thomasgaub worked on that extensively a while ago.

[2020-02-09 16:07] Yuri05 commented on #1404
Export to XML is available twice in the popup
![grafik](https://user-images.githubusercontent.com/25061876/74105502-b55cfa80-4b5e-11ea-92d8-d714fe848e0a.png)

[2020-02-09 16:13] StephanSchaller commented on #1414
Different algorithms/approaches I guess. This may be one of them (and is a PI algorithm in itself):

https://en.wikipedia.org/wiki/Maximum_likelihood_estimation

[2020-02-09 16:15] Yuri05 opened #1416 "ODE Export"
@msevestre Any reason why ODE export is enabled in MoBi but not in PK-Sim?
I would enable it in PK-Sim as well

[2020-02-09 16:18] msevestre commented on #1404
No this is the simulation XML (e .g the serialized xml of the simulation). Nothing to do with SimModel

[2020-02-09 16:18] #1404 closed

[2020-02-09 16:22] msevestre commented on #1416
It was not in Pksim before. It just as it was ;-)

[2020-02-09 16:38] Yuri05 commented on #1416
I know. I intended to open this issues since years, just forgotten it every time.

[2020-02-09 17:32] msevestre commented on #1416
Oh I see. Well we can add it. No problemo

[2020-02-10 09:23] Yuri05 commented on #1313
Closing. @wilbertdew Please reopen if you still face the problem.

[2020-02-10 09:23] #1313 closed

[2020-02-10 09:25] Yuri05 commented on #1301
Closing. @lkuepfer Please reopen if you still face the problem.

[2020-02-10 09:25] #1301 closed

[2020-02-10 09:35] Yuri05 commented on #1282
Closing due to no feedback.

[2020-02-10 09:35] #1282 closed

[2020-02-10 11:14] Yuri05 commented on #1247
Cannot reproduce in PK-Sim 8.0.
Distribution of GIT / SITT in a created POP are around **modified** values.
Closing for now. @regulus92 Please reopen if you still face the issue in PK-Sim 8.0.

[2020-02-10 11:14] #1247 closed

[2020-02-10 11:16] Yuri05 commented on #1174
obsolete

[2020-02-10 11:16] #1174 closed

[2020-02-10 11:19] Yuri05 commented on #1413
duplicates #1025

[2020-02-10 11:19] #1413 closed

[2020-02-10 11:20] Yuri05 commented on #1008
Closing the issue due to inactivity. @ju-rgen Please reopen if you still face the problem.

[2020-02-10 11:20] #1008 closed

[2020-02-10 11:22] Yuri05 commented on #1010
relates to https://github.com/Open-Systems-Pharmacology/OSMOSES/issues/12

[2020-02-10 11:25] Yuri05 commented on #871
@msevestre v9?

[2020-02-10 12:21] Yuri05 commented on #755
fixed. closing

[2020-02-10 12:21] #755 closed

[2020-02-10 12:28] Yuri05 commented on #539
fixed (proper error message is shown). Closing

[2020-02-10 12:28] #539 closed

[2020-02-10 12:46] sfrechen commented on #1330
Agree to Michael.
Might be worth to re-evaluate once we would come up with another database concept for relExp and refConc.

[2020-02-10 13:07] StephanSchaller commented on #1025
-> Prio: high!, then ;-)

[2020-02-10 13:11] Yuri05 commented on #916
Closing due to inactivity. @tobiasK2001 Please reopen if you still face the problem

[2020-02-10 13:11] #916 closed

[2020-02-10 13:15] StephanSchaller commented on #871
Can you enable the "edit" functionality for axes as for other plots to make it switchable?

[2020-02-10 13:16] Yuri05 commented on #958
PI Export to Matlab will be dropped in v9

[2020-02-10 13:16] #958 closed

[2020-02-10 13:48] TWendl commented on #1330
Agree to Michael as well!
For future releases: Would it be possible to technically enable the matching of two processes to the same enzyme? E.g. in AndreDlm's example two metabolic processes to the same enzyme (CYP3A4) such that there is no need to create an additional Enzyme (CYP3A4 1)?

[2020-02-10 13:49] sfrechen commented on #1330
@TWendl That is already possible.

[2020-02-10 13:50] Yuri05 commented on #1006
In v9 simulation name will not be part of a legend anymore (both individual and population simulations). s. #1386 , #1387, #1384
However simulation name should be copied to the plot title (s. #1394).

[2020-02-10 14:36] #1030 closed

[2020-02-10 14:37] #1062 closed

[2020-02-10 14:38] Yuri05 commented on #1068
Closing due to inactivity.

[2020-02-10 14:38] #1068 closed

[2020-02-10 14:42] Yuri05 commented on #1258
@lkuepfer Can you check please if the issue is fixed in v8?

[2020-02-10 14:59] TWendl commented on #1330
@sfrechen OK! Didn't know that! Thanks!

[2020-02-10 18:12] msevestre commented on #1290
Upon further investigation. It does not work properly. I can update the red flag to show the status update. However the comparison will not work at the moment. Investigating to see if this is easily fixable or not.

[2020-02-10 19:51] msevestre commented on #1414
Well this will have to be specified in details for this feature to be implemented. And no, a link to wikipedia is not enough :)

[2020-02-10 19:57] msevestre commented on #871
done
![image](https://user-images.githubusercontent.com/1041237/74184901-9cfbe700-4c15-11ea-875e-b484ca6a7592.png)

[2020-02-10 20:22] msevestre commented on #1416
It's starting to become very hard to use in PKSim with so many menus
![image](https://user-images.githubusercontent.com/1041237/74186716-177a3600-4c19-11ea-962b-f370c19c45e3.png)

Should we put them in a sub menu instead maybe?

[2020-02-10 20:23] msevestre commented on #1416
I have also removed the duplicated entry here

[2020-02-10 20:26] #1416 closed

[2020-02-10 20:26] #1290 closed

[2020-02-10 20:27] #871 closed

[2020-02-10 20:29] msevestre commented on #1330
Ok majority rules here (sorry @AndreDlm as you did not respond). I'll implement it as described here

[2020-02-10 21:12] msevestre commented on #1394
Can you explain what you mean with

[2020-02-10 21:17] msevestre commented on #1394
@Yuri05 I personally vote against it. In PK-Sim, the plot is always under the simulation tab so it's clear that the plot belongs to a given simulation and as such, duplicating the info here does not add anything at all

![image](https://user-images.githubusercontent.com/1041237/74190679-bb1b1480-4c20-11ea-8a34-00f5852998de.png)

Adding the name also reduces the space available for the plot also wh

[2020-02-10 21:18] msevestre commented on #1394
@Yuri05 And at any rate, I would definitely not add this to v9 without further consultations and thinking about the consequences. I'd suggest to remove the v9 milestone

[2020-02-10 22:01] msevestre commented on #1299
@AndreDlm Ok I have tried and cannot reproduce the issue. Let's keep it open for now and see if there is a way to reproduce it with a minimal example. It's there, but if I can't reproduce, I can't fix it

Maybe you could try on a simple project and see if you manage to reproduce it?

[2020-02-10 22:34] #1109 closed

[2020-02-10 22:35] msevestre commented on #1109
@teutonicod Can you verify that the issue is fixed with v9? Thanks

[2020-02-11 09:02] #1330 closed

[2020-02-11 09:55] Incei commented on #1394
@msevestre  : I have no problem having the simulation name in the figure title. It is even more useful when exporting the figure to a powerpoint, keeping the simulation name in there.
Under chart export options, you can change the font size of the title, if you think its too big :).

Yes, when creating a qualification report (as published in github) all plots have a description below, which is sta

[2020-02-11 10:05] AndreDlm commented on #1394
I concur with Michael in that the simulation name as chart title is somewhat redundant because this name is also shown in the tab, so I'm in favor of not displaying the simulation as chart title in PK-Sim (but still remove it from the legend).

To make everything compatible with the qualification reports, I would vote for a change in the qualification report creation workflow. Here it would be goo

[2020-02-11 10:08] Yuri05 commented on #1394
@msevestre Having simulation name in the plot title is much better then having it in all the legend captions as before.
![grafik](https://user-images.githubusercontent.com/25061876/74227166-2ff05c00-4cbe-11ea-9f66-2bc9e52f6c26.png)
If a user does not like it / does not need it: it can be removed just by setting the title=<Empty>
(we could also introduce additional chart option "show title" later o

[2020-02-11 10:11] Incei commented on #1394
I am fine with this too, as long as we dont loos the simulation name info in the reports.

[2020-02-11 10:27] Yuri05 commented on #1394
@AndreDlm

I like the suggestion. But:

At the moment figure description for **time profiles** is set as following:
* if the plot _title_ is empty: plot **name**
* plot **title** otherwise
![grafik](https://user-images.githubusercontent.com/25061876/74228416-b0b05780-4cc0-11ea-8a28-01ef3d5e6855.png)

How this should be combined with your proposal? E.g. something like
`Time profile analysis <plot n

[2020-02-11 13:37] #1291 closed

[2020-02-11 16:08] Yuri05 opened #1421 "Perform memory leak analysis"
Loaded a project with v9 from [this snapshot](https://github.com/Open-Systems-Pharmacology/Oxycodone-Model/blob/master/Oxycodone.json) (lot of pop sims etc.)
After closing the project: PK-Sim occupies ca. 3.6GB RAM (also nuch multiple GCs in the dev mode)

[2020-02-11 16:31] Yuri05 opened #1422 "Project has changed?"
v9: open the project from https://github.com/Open-Systems-Pharmacology/PK-Sim/issues/1314 and close it. Prompt "_Project has changed. Save changes?_" appears.

Same in v8 works as expected.
Project was created in v8.

[2020-02-11 16:33] msevestre commented on #1422
Well there is a project conversion so.....

On Tue., Feb. 11, 2020, 11:31 a.m. Juri Solodenko, <notifications@github.com>
wrote:

[2020-02-11 16:33] msevestre commented on #1421
Anything new here?

[2020-02-11 16:54] Yuri05 opened #1423 "v9: error opening pop simulation in 7.3 project"
[Theophylline_PopDummy.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/4186937/Theophylline_PopDummy.zip)
Trying to open the (only) simulation produces the error below in v9. Project was created with 7.3, then changed and saved with 7.4.

Works in v8.

[code]

[2020-02-11 17:20] Yuri05 commented on #1421
You mean if it is new in v9?
Don't know, investigating

[2020-02-11 17:21] msevestre commented on #1421
yes. Code has not changed really...so I am wondering what is sticking and where

[2020-02-11 17:24] msevestre commented on #1394
So this seems to have all to do with the reporting stuff. That's where it should go then. I don't have a solution or a proposal, but forcing everyone to change, just to support a specific use case is IMO not the way to go

[2020-02-11 23:46] msevestre opened #1424 "Ensure that qualification run works after redesign"

[2020-02-11 23:54] #1424 closed

[2020-02-12 00:48] msevestre commented on #1423
Fixes in #1426

[2020-02-12 00:48] #1423 closed

[2020-02-12 00:49] msevestre commented on #1422
I don't undertand the issue.
This is a project created with an older version. So a project conversion will happen
If there is any of
[code]

in this project, a conversion will take place.

Please explain why this is not ok :)

[2020-02-12 10:00] Yuri05 commented on #1421
[P1.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/4191130/P1.zip)
Compared v8 vs v9 with this snapshot. Both v8 and v9 started in dev mode and GC performed after every step.

Action|RAM usage v8 (MB)|RAM usage v9 (MB)| Difference v9-v8 (MB)
-------|---------------------|---------------------|------------------------
Start PK-Sim|376|401|25
Load project from Snapshot|1086|1759|**67

[2020-02-12 10:19] Yuri05 commented on #1422
Well, unexpected from users perspective (and project conversion is not obvious for a user).
But not really a problem.

[2020-02-12 10:19] #1422 closed

[2020-02-12 12:36] msevestre commented on #1421
What's surprising is such a difference after loads from snapshot. Is the snapshot calculating anything?

[2020-02-12 12:37] msevestre commented on #1421
If yes, this could be a simmodel issue.

[2020-02-12 12:40] Yuri05 commented on #1421
Yes, population simulations (in very high res).

Yep, could be.

[2020-02-12 13:08] J-Herz opened #1427 "Microsomal protein mass - Version 8 and literature source"
Hi,

I have a project where I am using half life data from a liver microsome assay to obtain initial hepatic clearance values. I have previously been using the PK Sim default values for microsomal protein mass/g liver; however, there are no longer default values available for mouse & monkey (i.e. when I select species the value is set to 0 by default). I was also wondering what the literature sour

[2020-02-12 13:29] msevestre commented on #1421
![image](https://user-images.githubusercontent.com/1041237/74339298-d0538880-4d71-11ea-9085-19baa5722401.png)

1GB unmanaged...

[2020-02-12 13:31] msevestre commented on #1421
I think the snapshot is too big to be analyzed however. Can you reduce the snapshot file so that it is significant but yet not soo big?

[2020-02-12 14:20] msevestre commented on #1421
and in v8...  380MB
![image](https://user-images.githubusercontent.com/1041237/74343264-cb460780-4d78-11ea-95c6-5b8046ab1974.png)

So I think the leak comes from SimModel at the moment

[2020-02-12 14:20] msevestre commented on #1421
or something needs to be cleared

[2020-02-12 14:22] Yuri05 commented on #1421
[P2.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/4192782/P2.zip)
smaller snapshot (only 1 sim)

[2020-02-12 14:51] msevestre commented on #1421
@Yuri05 The difference in unmanaged memory is about 625MB so it's almost spot on with what you saw in your test

[2020-02-12 14:53] msevestre commented on #1427
@J-Herz Found it. Thanks

[2020-02-12 14:56] msevestre commented on #1427
@Yuri05 here are the values that PKsim is showing

| Species | Value [mg/g] |
| - | - |
| Human | 40|
| Monkey| 0|
| Beagle | 43 |
| Dog | 43 |
| Minipig | 0 |
| Rat | 54 |
| Mouse | 0 |
| Rabbit |0 |

Something is not quite right don't you think?

[2020-02-12 15:01] msevestre commented on #1427
From the db
|species| Value|
|-|-|
|Beagle |		0.043|
|Dog |		0.043|
|Human |		0.04|
|Minipig |		0|
|Monkey |		0|
|Mouse |		0|
|Rabbit |		0|
|Rat |		0.054|

so it's consistent...but is this new?

[2020-02-12 15:13] J-Herz commented on #1427
Yes, these are the current values @msevestre.

For reference this is what I have in the older version of my project:
- Human: 40 mg/g
- Monkey: 45 mg/g
- Beagle: 55 mg/g
- Mouse: 45 mg/g
- Rat: 61 mg/g

I'm fairly certain mouse and monkey used to have default values in the PK Sim database. It's possible I previously found these values in the literature myself, but I'm normally quite rigorous with

[2020-02-12 15:18] msevestre commented on #1427
@J-Herz Thanks a lot. We'll track it down and let you know

[2020-02-12 15:33] msevestre commented on #1427
Well i just checked in 7.3 db

SPECIES | CONTAINER_ID | CONTAINER_TYPE | CONTAINER_NAME | PARAMETER_NAME | DEFAULT_VALUE
-- | -- | -- | -- | -- | --
Beagle | 159 | ORGAN | Liver | Microsomal protein mass/g tissue | 0.043
Dog | 159 | ORGAN | Liver | Microsomal protein mass/g tissue | 0.043
Human | 159 | ORGAN | Liver | Microsomal protein mass/g tissue | 0.04
Minipig | 159 | ORGAN | Liver | Microsom

[2020-02-12 15:39] J-Herz commented on #1427
Oh dear, looks like I have some intensive literature searching to do! I'll let you know what I find, thanks for the help in figuring this out

[2020-02-12 15:41] msevestre commented on #1427
This is now a freature request and you are assigned to it. No pressure :)

[2020-02-13 09:40] J-Herz commented on #1427
Ok, after a long evening pulling my hair out I've realised the values I was using came from another contributor to the project which is why they weren't properly documented.

The closest I came to an authoritative source for values for human and all preclinical species was this meta-analysis [1] which was used by the PhRMA CPCDC initiative on predictive models of human pharmacokinetics [2]. The an

[2020-02-14 09:53] PavelBal opened #1428 "Enable loading of observed data from pkml"
So the observed data can be exchanged between MoBi and PK-Sim. Currently, there is no way to do it.

[2020-02-14 10:11] StephanSchaller commented on #1428
Or a functionality to save it in the template database

[2020-02-14 13:38] msevestre commented on #1428
I think it is exported with a simulation AND you can save it in the template db (although I am not sure how the latter would help)... I am a bit puzzled here

[2020-02-14 13:52] PavelBal commented on #1428
This is about the other way around - observed data that has been imported in MoBi must somehow go to PK-Sim.

MoBi has no access to template db.

[2020-02-14 15:25] msevestre commented on #1428
oh I see. This is the first time that I hear about the request MoBi => PKSim :) It's usually the other way around
For this we will need to unify the meta data required by pksim, that are optional in MoBi. (Associated Compound for MW, Organ, Compartment etc...)

[2020-02-14 17:42] msevestre opened #1429 "Add missing binaries to setup"
PKSim.R and PKSim.CLI are missing

[2020-02-14 17:59] TTLL88 opened #1430 "Observed data error"
I was using PK-Sim for my PBPK project but I constantly encountered an issue: When I imported the observed concentration data to do a visual evaluation of my model, the value of the observed data changed (e.g. 807 ng/ml changed to 765 ng/ml). The unit is the same in the observed and simulation. Anyone experienced this before? Thank you

[2020-02-14 18:03] msevestre commented on #1430
Can you add a project so that we can understand your problem and potentially offer a solution?

[2020-02-14 18:12] msevestre commented on #1421
Much better here.
Unamanaged goes up during calculations but gets cleared and is almost constant
![image](https://user-images.githubusercontent.com/1041237/74556256-a5149900-4f2b-11ea-89d4-16fc06f6115b.png)

[2020-02-14 18:16] msevestre commented on #1421
271MB at PKSim start to 320 after loading the whole snapshot and calculating
So there is still some leak (about 50MB) but much better than 625 MB:)

[2020-02-14 18:17] msevestre commented on #1421
![image](https://user-images.githubusercontent.com/1041237/74556581-59162400-4f2c-11ea-9801-28a3d685ce1f.png)

Very cool I have to say

[2020-02-14 18:18] #1421 closed

[2020-02-14 18:18] #1429 closed

[2020-02-14 18:22] TTLL88 commented on #1430
![image](https://user-images.githubusercontent.com/61062080/74556916-08eb9180-4f2d-11ea-8b7b-f203382d2b26.png)

[2020-02-14 18:24] TTLL88 commented on #1430
My issue is pretty straightforward, upper figure is the observed data shown in building block; lower figure is predicted vs observed. Take first point for example, the value changed...very weird.
Thank you for your time guys.

[2020-02-14 18:24] msevestre commented on #1430
Can you attach the project so that I can see what's going on?

[2020-02-14 19:59] eva-comsopolita opened #1432 "Error to save a model"
I try to save my model. I select File > Save > Save As and save modeling with a short name, but after closed everithing i cant open again.

What thats wrong?

**This is the Clipboard**

Application:
PK-Sim® 8.0.22

SQL logic error
no such table: SUMMARY_CHART

Stack trace:
[code]

[2020-02-14 20:11] msevestre commented on #1432
It seems that saving the file was not successful. Can you reproduce that behavior all the time or is this a one time off?

e.g. open pksim. add an individual. Save
Reopen, save as, reopen. Does htis work?

[2020-02-14 20:18] eva-comsopolita commented on #1432
Hello and thanks for answering.

If I save this file and try to open it, I get an error every time I tried.

But if I open a file that I have downloaded from open-system, it works for me and opens without any problem.

[2020-02-14 20:21] msevestre commented on #1432
@eva-comsopolita Just to be clear
If you create a NEW file and try to save it and open it again, it does not work, ever?

[2020-02-14 20:22] msevestre commented on #1432
@eva-comsopolita can you try with MoBi?

[2020-02-14 20:36] eva-comsopolita commented on #1432
Yes, If I Create a NEW file and try to save it and open it again, it does not work, ever?

I will try with MoBi

[2020-02-14 20:39] eva-comsopolita commented on #1432
It may not have explained me well.

How is the normal process to save in Pk-sim?
Clicking on File-Save As, just let me save with ".pksim5" format

I use a windows laptop.

[2020-02-14 20:40] msevestre commented on #1432
pksim5 is the pksim file format.

What file are you trying to open?

[2020-02-14 20:41] eva-comsopolita commented on #1432
I save the file in pksim 5, so I try to open the same file from pksim application.

[2020-02-14 20:48] msevestre commented on #1432
Yes this is the way to go.

So you are not able to save any files at all correct?

Can you also do a save as to one of the file from github that you downlaoded? e.g. download the file, save as and open it

Also are you savign the file on a network drive ? If yes, can you try to save on your desktop and seeif this works?

[2020-02-14 21:01] eva-comsopolita commented on #1432
If I try to open a downloaded one and try to save it with another name it gives me the same error and I cannot open it.
I'm setting it up on the desk and it doesn't work either.
I do not understand that it can fail.

[2020-02-14 21:13] msevestre commented on #1432
well someone is wrong with your installation as you do not seem to be able to save any files.
Did you install the software using the setup ? OR are you using the portable version?

Can you try to do the same with Mobi? it is usign the same technology under the hood so I am wodnering if this is an error due to pksim or a general problem with your laptop

[2020-02-14 22:16] eva-comsopolita commented on #1432
Thanks for the help, in the end what I have done has been to save on the original file, that I could.

As you say I think the problem is due to the installation.  Since I can save on an already created file, but I cannot create a new one and save it.  I see that saving should also create a json file, but when I save it is only created in pksim format.  The installation was through a portable versi

[2020-02-14 22:17] eva-comsopolita commented on #1432
Thanks for everything, I finished what I wanted to do today as I could.  But you will try to delete it and reinstall the application.

[2020-02-14 23:17] msevestre commented on #1430
Going to see if we can fix this for the upcoming release. Thanks for reporting

[2020-02-16 15:28] HTQ05 opened #1433 "Error"
This error is appearing when tried to change the value of Gastric emptying Time in Population Simulation
What should I do?

![Error](https://user-images.githubusercontent.com/60983521/74606339-8233e180-50f1-11ea-96fd-d4d83953e7f1.jpeg)

_Originally posted by @HTQ05 in https://github.com/Open-Systems-Pharmacology/Forum/issues/461#issuecomment-586711898_

[2020-02-16 18:32] msevestre commented on #1433
@HTQ05 so I reproduce the issue here? Create a populaton simulation, go into the hiearchy mode and update the Gastric emptying time?

[2020-02-16 18:33] msevestre commented on #1433
You are probably changing a parameter that is coming from the population. There is a reason why it is hidden in the first place. While it should not crash, changing the value will have absolutely NO effect as it will be overriden by the population valuyes

@Yuri05 DO you concur?

[2020-02-16 20:41] msevestre commented on #1430
ok I could reproduce the issue. It is probably also an issue when comparing two population simulation using different compounds (e.g. with different molweight)

[2020-02-16 21:48] TTLL88 commented on #1430
Exactly. Thanks so much for your efforts. It didn’t happen in individual
simulation though . It is also surprising that the bug was not reported
before. Maybe it will get fixed in the next new release ? Thanks.

On Sun, Feb 16, 2020 at 3:41 PM Michael Sevestre <notifications@github.com>
wrote:

[2020-02-17 17:31] Yuri05 commented on #1433
Agree, those parameters should be hidden in the pop hierarchy view.

[2020-02-17 20:27] msevestre commented on #1430
Well nothing is perfect. We will fix it in the next version

[2020-02-17 21:36] TTLL88 commented on #1430
Appreciate it! Thanks.

On Mon, Feb 17, 2020 at 3:27 PM Michael Sevestre <notifications@github.com>
wrote:

[2020-02-18 09:41] HTQ05 commented on #1433
Alright. Thanks

[2020-02-18 09:47] PavelBal opened #1435 "Feature: Subfolders for Building Blocks"
It would be great to have the feature to group building blocks to subfolders (within one BB type).

[2020-02-19 12:25] Yuri05 opened #1436 "Height in aging simulations"
Height is not properly scaled in aging simulations

[2020-02-19 13:48] #1430 closed

[2020-02-19 13:50] msevestre commented on #1436
Why is height defined as a constant parameter and not a distributed parameter in the model?

[2020-02-19 14:47] PavelBal opened #1437 "Cannot initialize PKSim.R.Api"
When calling

`createIndividualCharacteristics(species = Species$Rat, gender = Gender$Unknown, weight = 0.23)`

from R, an error is thrown:

[code]

Somohow the path to `OSPSuite.Dimensions.xml` is wrong (looking for the file in the rClr folder and not the ospsuite).

[2020-02-19 21:40] msevestre commented on #1437
This is only an issue with the portable install missing a file

[2020-02-19 21:47] msevestre commented on #1437
@PavelBal How did you initialize PK-Sim

[2020-02-19 21:49] msevestre commented on #1437
The file is in the setup
![image](https://user-images.githubusercontent.com/1041237/74879723-c0badd80-5337-11ea-859b-c3fcdc2228cf.png)

[2020-02-19 21:58] #1437 closed

[2020-02-19 22:00] msevestre commented on #1437
@PavelBal Should be fixed with the next nightly. Can you try?

[2020-02-19 22:23] msevestre commented on #1432
@eva-comsopolita Can you let us know if you managed to fix the issue?

[2020-02-20 12:06] PavelBal commented on #1437
[code]

I have downloaded the portable version.

[2020-02-20 12:35] msevestre commented on #1437
Ok it's something else. The version of ospsuite.corr in the r package is outdated. Going to update it and we should be good to go

[2020-02-20 14:23] TTLL88 opened #1439 "removal simulated outlier"
Morning,everyone. Quick question. Is it possible to remove the outliers generated in the simulation? Thanks a lot.

[2020-02-20 14:27] TTLL88 opened #1440 "add arithmetic mean to box plot"
Morning. Wondering if it is possible to show arithmetic mean in the box plot?Thanks.

[2020-02-20 15:53] msevestre commented on #1440
@TTLL88 Please ask your question in the Forum. The app-specific repository is for reporting bug only.
I'll transfer your issue to the Forum.

[2020-02-20 16:14] msevestre commented on #1436
Going to check this out and see of this is feasable easily

[2020-02-20 17:36] msevestre commented on #1436
![image](https://user-images.githubusercontent.com/1041237/74962305-a5a2a900-53dd-11ea-8650-db5c33909961.png)

[2020-02-21 14:08] #1436 closed

[2020-02-26 22:28] msevestre commented on #1432
Closing. Please reopen if you still have issues after  a fresh install

[2020-02-26 22:28] #1432 closed

[2020-02-26 22:40] msevestre opened #1442 "Update to latest core"

[2020-02-27 01:08] #1442 closed

[2020-02-28 18:30] TTLL88 opened #1444 "Gastric Emptying Time in Simulated Population"
Hi Guys,
Happy Friday.
I found something weird in the gastric emptying time in my simulated population (male, European). The median is 15 min (range 6-60 min). However, from physiology point of view, gastric empty time is about 2h, T1/2=20min (for liquids). The difference is quite huge. Could someone comment on that?
Many Thanks!

[image](https://user-images.githubusercontent.com/61062080/75575149

[2020-02-28 21:21] StephanSchaller commented on #1444
Where do you get the 2h from, and what do they mean (completely empty, 95% empty)?

Gastric Emptying Time (GET) in PK-Sim is defined as:
![image](https://user-images.githubusercontent.com/25477643/75587786-91167e80-5a77-11ea-83f8-baaaf3a43468.png)

Meaning, your stomach is not empty after 15 min. As an approximation, depending on your GET, the remaining fraction of liquids after the time of GET ha

[2020-03-02 16:08] TTLL88 commented on #1444
Hi, Stephan. Thanks so much for the clarification.The value makes sense to
me now. Thanks.

esqlabs GmbH <notifications@github.com> 于2020年2月28日周五 下午4:21写道：

[2020-03-02 16:08] #1444 closed

[2020-03-03 15:12] msevestre opened #1445 "Clicking on + - on some tables requires a double click after update to devexpress"
This happens on SimulationInterval and Compound

[2020-03-03 15:13] msevestre commented on #1445
Only v9

[2020-03-04 15:08] Yuri05 commented on #1286
still failing, another exception now (tried id with dev and with portable version 9.0.98):

[code]

[2020-03-04 15:23] Yuri05 commented on #1408
yep. works.

[2020-03-08 10:39] StephanSchaller opened #1446 "Value Origin Animal Species"
I believe many values have been taken from this publication:

[2020-03-10 09:00] Yuri05 opened #1447 "Update SmartXLS"

[2020-03-10 14:13] FloSIMON commented on #1377
Dear Michael,
I'm so sorry for the delayed answer.
The issue was fixed by reformatting my laptop.
Best regards,
Florian

Le lun. 20 janv. 2020 à 13:24, Michael Sevestre <notifications@github.com>
a écrit :

--
Florian SIMON

[2020-03-10 14:51] FloSIMON opened #1448 "PopPK parameters"
Dear all,

I would like to use parameters (Vmax and Km) from a PopPK model in a PBPK model.
In Mobi, I used the values from NONMEM of both parameters after converting in the right unities (from mass to molar concentrations).
I also multiplied Km by the unbound fraction before peforming simulations in Mobi (because the Km found with NONMEM is related to total concentration)
Did you have some sugges

[2020-03-15 13:56] StephanSchaller opened #1449 "Method to "Dissolve" Sub-folder Structure"
When managing observed data (or simulations) you may sort these within subfolders.
It would be convenient to have a feature to "dissolve" the existing folder structure to put everything bat on the same folder level.

E.g. by right-click on a folder --> "dossolve" sub-folders" to level the folder hierarchy within that folder.

[2020-03-15 14:16] msevestre commented on #1449
There is already something like this. Clear folder and keep data no?

[2020-03-15 14:42] StephanSchaller commented on #1449
Ah, nice. Thanks. Somehow always overlooked ...

[2020-03-15 14:42] #1449 closed

[2020-03-15 14:45] msevestre commented on #1449
Please double-check that it's there... I might be wrong

[2020-03-15 22:10] StephanSchaller commented on #1449
Yes it's there. And working great! ;-)

[2020-03-20 18:35] moPellowe opened #1453 "createIndividual: Age should be required for human"
I am trying to create an individual, but the function `createIndividualCharacteristics()` isn't working as I expected. What do I need to do differently?

[code]

[2020-03-20 23:28] yvkashyap opened #1450 "Removing gridlines from the simulation output time profile analysis image"
Hello,

Could anyone please suggest me on how to remove the gridlines from the time profile analysis image of  a simulation when exporting the image.

Sincerely,
Kash

[2020-03-21 14:53] Yuri05 commented on #1450
just deactivate grid lines in the chart settings before exporting as image?

[2020-03-21 20:49] yvkashyap commented on #1450
Hi Juri,

Thank you so much for replying to my question. Sorry for bothering you with such a simple question. For some reason, some of my population simulations are not giving me with an option to remove the gridlines. I an unable to see the "Chart Editor" option. Please see the first image below.
For other simulations, i can see the "Chart Editor" option and was able to remove the gridlines. Plea

[2020-03-23 12:08] AndreDlm opened #1451 "Renaming protein in individual does not trigger changed state of simulation"
I came across the following unexpected behavior in PK-Sim: In this file [here](https://github.com/AndreDlm/Erythromycin-Model/blob/master/Erythromycin.pksim5), renaming a protein in the individual BB (e.g. LST-3TM12 into OATP1B1) does not trigger a changed state of the simulation that uses the individual. I would have expected a red exclamation mark to appear.

Cloning the simulation, however, ope

[2020-03-24 20:23] lauraolivo11 opened #1452 "Gene expression database in a model for rats"
Hi,

For a pbpk model for rats, where can I find a  gene expression database for this specie? Or can I use the human database as well?

[2020-03-25 09:25] PavelBal commented on #1452
Currently, no database for other species than human has been released. You can use the human database, but be aware that the differences between the species are not accounter for.

[2020-03-25 11:35] Yuri05 opened #1455 "PK-Sim standard partition coefficients: use B2P"
s. discussion in https://github.com/Open-Systems-Pharmacology/Forum/issues/492

[2020-03-25 16:28] #1453 closed

[2020-03-30 19:41] adriankhoei opened #1456 "Problem with creating a new individual"
I am using portable PK-Sim version 9.0.117 to create an individual in R toolbox, as discussed in this [post](https://github.com/Open-Systems-Pharmacology/PK-Sim/issues/1453).
Using initPkSim, I get this error:

`>initPKSim("F:/PK-Sim_portable/PK-Sim 9.0.117")`
`Error in rClr::clrLoadAssembly(pksimR) :
  Failure in rclr_ms_call_static_method, but could not retrieve an error message`

I would apprec

[2020-03-30 20:42] msevestre commented on #1456
Can you start PKSim ? e.g. go to "F:/PK-Sim_portable/PK-Sim 9.0.117 and start PKSim.exe?

[2020-03-30 20:45] adriankhoei commented on #1456
Yes.

[2020-03-30 20:57] msevestre commented on #1456
Can you perform some basic operations in R using the toolbox? Load simulation, calculate etc?

[2020-03-30 20:58] msevestre commented on #1456
is F a local or remote folder? Can you move this to the partition where R is installed?

[2020-03-30 21:06] adriankhoei commented on #1456
No. It returns this error:

`Error in initPKSim() :
  Could not find an installation of PK-Sim on the machine. Please install the OSPSuite or use 'initPKSim()' to specify the installation path`

It is a local one. I moved the PK-Sim 9.0.117 folder to "C:\Program Files\Open Systems Pharmacology" but it returns the same Error in rClr.

[2020-03-30 21:10] msevestre commented on #1456
LoadSimulation does not require PKSim
export a sim to pkml and do

sim <- loadSimulation(xxx)

I just want to make sure that your R stuff is installed properly

[2020-03-30 21:21] adriankhoei commented on #1456
Right.
loadSimulation works:

`> library(ospsuite)`
`> dataPath <- file.path(setwd("C:/Users/Adrian/Dropbox/DrNeelyLab/voriconazoleProject/models/pediatricPKML"), fsep = .Platform$file.sep)`
`> simFilePath <- file.path(dataPath, paste0("patient1.pkml"), fsep = .Platform$file.sep)`
`> simPatient1 <- loadSimulation(simFilePath)`
`> print(simPatient1)`

`Simulation:
  Name: Patient1
  Source file: C:

[2020-03-30 21:31] msevestre commented on #1456
hum ok

The only thing that I can think of is incompatibility between  OSPSuite-R and PKSim, I'll have to check with the latest version and get back to you

[2020-04-01 08:33] Yuri05 opened #1458 "Import Population simulation from pkml: Aging"
When combining an imported pkml simulation with a population **building block**: enable "Allow aging" option.
![grafik](https://user-images.githubusercontent.com/25061876/78116112-1e951780-7404-11ea-84ff-ee59fd86158a.png)

[2020-04-07 11:48] AndreDlm opened #1459 "Changing error type and unit of observed data to dimensionless throws unhandled exception error"
Using the attached hypothetical data, I ran into an unhandled exception error following these steps:
- Load data in PK-Sim
- Change error type from `Geometric Standard Deviation` to `Arithmetic Standard Deviation` (this sets the unit of the fraction columns to molar concentration)
- Setting the unit of the fraction column to `Dimensionless` throws the error below

![Picture1](https://user-images.g

[2020-04-07 12:25] AndreDlm commented on #1458
Any idea when this feature will be implemented? :)

[2020-04-07 12:38] Yuri05 commented on #1458
not in v9 :)

[2020-04-17 10:17] Walid4OUMESSAD opened #1461 "Negative pka value"
Dear Developers,

Is there a way to enter a negative pKa value in Pk-sim?
![image](https://user-images.githubusercontent.com/49395263/79558806-0f20fa00-80a5-11ea-9db4-13e02de255b1.png)

Kind regards,
Walid

[2020-04-21 20:39] msevestre commented on #1445
@Yuri05 All ranorex tests are now passing so I am assuming it's done. But there might be a few instances where it's not the case
Can you think of other place where we have + - icons?

[2020-04-22 08:09] Yuri05 commented on #1445
Advanced administration protocol. Works as well there.

[2020-04-22 11:53] PavelBal opened #1462 "Context menu "Delete all subfolders and data" for "Comparisons" without function."
Right click on "Comparisons" in the "Simulations"-Explorer -> "Delete all subfolders and data" is without any function.

[2020-04-22 18:13] msevestre commented on #1286
ok I can reproduce

[2020-04-22 18:26] #1286 closed

[2020-04-22 18:27] msevestre commented on #1461
Hi Walid,

Isn't pKA supposed to be between 0 and 14?

[2020-04-22 18:28] msevestre commented on #1461
At any rate, this is not supported at the moment. If you think this is a feature worth adding, please explain why so that our scientific committee can consider it for a next release

[2020-04-22 18:28] msevestre commented on #1456
@adriankhoei Did you manage to get it working?

[2020-04-22 18:51] msevestre commented on #1462
Can reproduce and easy fix

[2020-04-22 20:35] msevestre opened #1465 "Remove warnings"
| Severity	| Code |	Description	| Project |	File	|Line|	Suppression  State |
| -- | -- | -- | -- | -- | -- | -- |
|Warning	|CS0618	|'ConsoleLoggerExtensions.AddConsole(ILoggerFactory, LogLevel)' is obsolete: 'This method is obsolete and will be removed in a future version. The recommended alternative is AddConsole(this ILoggingBuilder builder).'	| PKSim.CLI |	C:\projects\PK-Sim\src\PKSim.CLI\Progr

[2020-04-22 20:35] msevestre commented on #1465
@StephanSchaller Ths could be a good research task for georgios

[2020-04-22 21:13] #1462 closed

[2020-04-22 23:19] Walid4OUMESSAD commented on #1461
Hi Michael,

Thank you for your answer, I am currently working on the modeling of a mycotoxin on PK-sim and the only available pKa value is negative!Me too had the idea that the pka is between 0 and 14 but "A pKa may be a small, negative number, such as -3 or -5. It may be a larger, positive number, such as 30 or 50. The lower the pKa of a Bronsted acid, the more easily it gives up its proton. The

[2020-04-23 09:16] PavelBal commented on #1461
Actually, yes, I've seen all kind of pKa values - negative, positivy, definitely not only limited to [0...14]. So maybe what is used in PK-Sim is not really correct...

[2020-04-23 09:40] Yuri05 opened #1466 "QualificationRunner 9 does not work anymore"
With every project, error message `Project configuration for '<Project>' `is invalid. comes.
To reproduce:
clone e.g. the repo https://github.com/Open-Systems-Pharmacology/Raltegravir-Model and start QualiRunner via:
`QualificationRunner.exe -i "C:\Raltegravir\Evaluation_plan.json" -o "C:\Report" -p "C:\PKSim9Portable" --logLevel Debug`

This results in:
[code]

Log file 'C:\Report\temp\Raltegravi

[2020-04-23 15:12] msevestre commented on #1466
ok this is  an issue with PKSim. The app.config is missing

[2020-04-23 17:34] msevestre commented on #1465
@georgeDaskalakis Maybe you could check this out. happy to explain the issue when you have time

[2020-04-23 17:51] msevestre commented on #1461
Interesting.
@Yuri05 @Christoph27  Thoughts? Would it change anything if we were to allow a uncosntrained range for pKa?

[2020-04-23 17:59] #1466 closed

[2020-04-23 18:56] StephanSchaller commented on #1465
@msevestre sure.
@georgeDaskalakis, feel free to tackle this any time after May 1st ;-) (but of course also now, if you want)

[2020-04-24 01:37] #1450 closed

[2020-04-24 01:44] yvkashyap opened #1468 "Calculating 90% prediction intervals for population simulation"
Hello,

Can we calculate the 90% prediction interval for a population simulation using PK Sim? If yes, what is the best way to plot it.

Thanks,
Kash

[2020-04-26 11:38] Yuri05 opened #1469 "Crash when loading a PI recreated from snapshot"
Load project from snapshot and open the PI "**global Parameter Identification**".
(was the same in PK-Sim 8)
[Alfentanil.zip](https://github.com/Open-Systems-Pharmacology/PK-Sim/files/4535209/Alfentanil.zip)

[code]

[2020-04-27 14:15] #1468 closed

[2020-04-27 18:36] msevestre commented on #1469
ok so this is because we do not return the PI when loaded from snapshot. However here we have confidence interval plots that needs to take this use case into account . Moving to core

[2020-04-28 08:20] teutonicod opened #1470 "Allow the use of zero order and First order formulation for simple administration protocol"
Hi, this is a feature request to allow the use of the zero order and first order formulation for simple administration protocol as it already happen for the User defined administration. This refers to the discussion https://github.com/Open-Systems-Pharmacology/Forum/issues/127#issue-290465108

Thanks in advance!

Donato

[2020-04-28 08:35] teutonicod opened #1471 "Report the total error for simulations with data"
Hi,
I would like to propose a feature request, if it is feasible :-).
When building a model, in particular if the parameter are adjusted manually, we have very often the issue of comparing different models and/or different parametrization. In order to do that more quantitatively, it would be very useful to have the total error between the simulation and the data.

What I am thinking about is basic

[2020-04-28 09:17] tobiasK2001 commented on #1470
I  am supporting this request!

[2020-04-28 13:25] StephanSchaller commented on #1471
I like the idea!

Maybe this could be a feature of "Comparison Plots"? Both for Individual and for population simulations.

[2020-04-28 14:00] msevestre commented on #1471
I think we could enable a lot of features if we could manage to define somewhere what obs data matches what output. Just having it work very often is good, but not enough. The definition could be done once and reuse everywhere else.

This is for example required for https://github.com/Open-Systems-Pharmacology/PK-Sim/issues/1056

where we want to graph predicted vs observed.

[2020-04-28 14:24] teutonicod commented on #1471
Could this be done at the simulation level, in a tab like the one "Chart editor"?

[2020-04-28 14:26] msevestre commented on #1471
I think this does not belong at the simulation level. This is some knowledge that is more at the project level.

[2020-04-28 14:27] msevestre commented on #1471
Obviosuly it could be created from a simulation (probably where it makes sense because one can select output), but the definition of such a mapping is almost like a building block, or an extension of the observed data set. This would allow a lot of automation

[2020-04-28 14:35] teutonicod commented on #1471
No I don't think so. In several cases, we can compare data to plasma profiles in one simulation and to blood profiles in another, or simulate a specific organ and mach the observations. This will depend on the specific simulation and not at the project level.
So I would imagine much better that the user create the simulation where an output is generated, then drag the observations in the simulatio

[2020-04-28 14:39] teutonicod commented on #1471
Well, unless we re-imagine the observation building block and do the mapping at that level, as it is already done up to a certain level

[2020-04-28 14:39] msevestre commented on #1471
Are you saying you compare the same SET of observed data to different outputs?  🤔
Because you don't know what was measured?

I don't think this makes sense to define it at the simulation level. For the case where you don't know what the data is about, then you can override the stuff maybe in the simulation .But in general, you want to compare plasma concentration with plasma concentration and not

[2020-04-28 14:42] teutonicod commented on #1471
No, I use the a specific set of data always to the same output (at least in most of the cases), but the output can be different in different simulations.
A mapping plasma <-> plasma or brain<->brain, isn't done already when importing the data?

[2020-04-28 17:35] msevestre commented on #1471
It is in PK-Sim but not in MoBi. Maybe this is enough at the observed data level. I seemed to remember that we had discussed this Mapping with @Yuri05 and we agreed that we needed something else

@Yuri05 Do you remember?

[2020-04-30 12:50] msevestre commented on #1471
After thinking about this with @teutonicod yesterday, I think this could work like this

1. During import of observed data, user specifies organ and compartment (as it is now)
1. In the simulation there is a new tab were specific obs data <-> output mapping can be defined.
Very similar to what we have in the PI
1. By default, the mapping would be the one inferred from step 1. However this could be

[2020-04-30 12:53] msevestre opened #1472 "Investigate PK-Sim start time... as it is too slow"
Implementing the PKSim-R API made me realize that we have some serious stuff going on during PKSim startup that may not be required
In fact, loading of the CORE of PKSim is done in R when one called the `initPKSim` method.
It takes about 3sec. then The first individual takes about 3 sec, After that, under 1sec

In PKSim, it takes about 20 sec to start. I'd like to investigate where we spend so muc

[2020-05-01 21:57] msevestre opened #1473 "Copy to clipboard of graph broken on screen with 150% scaling"
It's  impossible to copy a graph to clipboard in PKSim (or MoBi) when using 150% scaling. The
issue is maybe a very funky implementation of copy that uses EMF

https://github.com/Open-Systems-Pharmacology/OSPSuite.Core/blob/5ff27d3706368ccd574481be3c46b3cf09d32aaf/src/OSPSuite.UI/Controls/UxChartControl.cs#L87

We should use try something else

[2020-05-04 08:04] PavelBal commented on #1473
Same for MoBi (obviously).

[2020-05-04 08:06] PavelBal commented on #1471
Sound great, would also make creations of PI easier.

[2020-05-04 08:22] PavelBal opened #1474 "Feature request: Parameter for species."
It would be good to store the information about the species somewhere in the Model, preferrably in the spatial structure. Such a parameter could take numerical values for different species. In the same step maybe also introduce a parameter for the Race.

Though the parameter would have no impact on the simulations calculations, it would greatly benefit working from R. There are multiple scenarios

[2020-05-04 15:12] msevestre commented on #1473
Yes it is the same.
As an info, here is how it looks like

![image](https://user-images.githubusercontent.com/1041237/80981511-1449ad00-8df8-11ea-9e10-346f6e8bac59.png)

One can see the frame around the pasted picture on the left side. This is absolutely useless